.hino-hr-detail {
	&__left {
		.block-title {
			margin-bottom: 20px;

			h1 {
				font-size: 36px;
				font-family: "Montserrat";
				color: rgb(51, 51, 51);
				font-weight: bold;
			}
		}

		&__timeline {
			width: 100%;
			padding: 0 0 20px 0;
			display: flex;
			align-items: center;

			.icon-social {
				ul {
					padding-left: 0;
					width: 100px;
					display: flex;
					align-items: center;
					list-style: none;

					li {
						padding: 0;

						a {
							.fa {
								font-size: 16px;
							}
						}

						&:first-child {
							margin-right: 10px;

							a {
								.fa {
									color: #3a5b9e;
								}
							}

						}

						&:last-child {
							a {
								.fa {
									color: #0099ff;
								}

							}
						}
					}
				}
			}

			@media(max-width: 991.98px) {
				.time {
					p {
						font-size: 13px;
					}
				}
			}
		}

		&__content {
			background-color: #e3eef3;
			padding: 40px;
			margin-bottom: 40px;
			width: 895px;

			h2 {
				font-size: 18px;
				font-family: "Montserrat";
				color: rgb(51, 51, 51);
				font-weight: bold;
				text-transform: uppercase;
				padding-bottom: 30px;
			}

			table {
				width: 100%;

				tbody {
					tr {
						display: flex;

						td {
							flex: 1;
							display: flex;
							align-items: center;
							padding: 0;

							.img {
								width: 19px;
								display: flex;
								align-content: center;

								.fa {
									font-size: 16px;
									color: #666666;
								}

								.material-icons {
									font-size: 18px;
									color: #666666;
								}
							}

							span {
								font-size: 16px;
								margin-left: 15px;
								font-family: "Montserrat";
								color: rgb(51, 51, 51);
								font-weight: bold;
							}

							p {
								font-size: 16px;
								font-family: "Montserrat";
								color: rgb(51, 51, 51);
								line-height: 2.25;

								&.color-special {
									color: #0099ff;
								}

								&.color-special2 {
									color: red;
								}
							}

							&:nth-child(2) {
								padding-left: 100px;
							}
						}
					}
				}
			}

			&__list {
				margin-bottom: 35px;

				h2 {
					font-size: 24px;
					font-family: "Montserrat";
					color: rgb(51, 97, 174);
					font-weight: bold;
					text-transform: uppercase;
				}

				ul {
					padding-top: 25px;
					padding-left: 0;
					list-style: none;

					li {
						padding-left: 15px;
						position: relative;

						p {
							font-size: 18px;
							font-family: "Montserrat";
							color: rgb(51, 51, 51);
						}

						&::before {
							content: 'fiber_manual_record';
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: 0;
							font-family: 'Material Icons';
							font-size: 6px;
							color: rgb(153, 153, 153);
						}
					}
				}
			}
		}
	}

	&__right {
		width: 100%;
		background-color: #f3f3f3;
		border: solid 1px #d7d7d7;

		&__btn {
			display: flex;
			align-items: center;
			margin-left: auto;

			.btn__apply {
				background-color: #0b3155;
				width: 210px;
				height: 40px;
				border-radius: 20px;
				color: #fff;
				font-family: "Montserrat";
				line-height: 40px;
				margin-right: 20px;
				font-size: 15px;
			}

			.btn__down {
				background-color: #3361ae;
				width: 210px;
				height: 40px;
				border-radius: 20px;
				color: #fff;
				font-size: 15px;
				font-family: "Montserrat";
				line-height: 40px;
				border: solid 1px $main-color
			}
		}

		&__content {
			.block-title {
				margin-bottom: 0;

				h1 {
					padding: 20px;
					font-size: 20px;
					font-family: "Montserrat";
					color: rgb(51, 97, 174);
					font-weight: bold;
					text-transform: uppercase;
				}
			}

			&__list {
				padding-left: 0;
				list-style: none;

				&__item {
					padding: 20px;
					border-top: solid 1px #d7d7d7;

					.date {
						display: flex;
						align-items: center;
						font-size: 14px;
						font-family: "Montserrat";
						color: rgb(153, 153, 153);
						line-height: 20px;
						padding-bottom: 15px;

						.material-icons {
							font-size: 16px;
							color: rgb(153, 153, 153);
						}
					}

					p {
						font-size: 14px;
						font-family: "Montserrat";
						color: #333333;

						&.color-special2 {
							color: red;
						}
					}

					&:hover {
						p {
							color: $main-color;
							text-decoration: underline;

							&:last-child {
								color: red;
							}
						}
					}
				}
			}
		}
	}
}
.apply-frm {
	padding: 60px 90px;
	margin: 0 auto;

	div {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	h4 {
		font-size: 16px;
		font-weight: 600;
		color: $main-color;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.col-left {
		.form-group {
			width: 50%;
			padding: 0 10px;

			.label {
				font-size: 14px;
				font-weight: 400;
				color: #999;
				margin-bottom: 4px;
			}

			.fa-exclamation-triangle {
				top: 50%;
				transform: translateY(-50%);
				right: 15px;
				color: red;
			}

			.form-control {
				border-radius: 0;
				width: 100%;
				width: 100%;
				border: 1px solid #e5e5e5;
				color: #333;
				font-size: 13px;
				padding: 7px 15px;
			}
		}
	}

	.col-right {
		flex: 0 0 100%;
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;

		textarea {
			height: 200px;
			width: 100%;
			border: 1px solid #e5e5e5;
			color: #333;
			font-size: 13px;
			padding: 7px 15px;
			border-radius: 0;
		}

		.form-group {
			margin-bottom: 10px;
			flex: 0 0 100%;
			max-width: 100%;
			padding: 0 10px;

			label {
				.required {
					color: red;
				}
			}
		}
	}

	.RadUpload {
		width: auto !important;

		.ruFileWrap {
			position: relative;
			display: block;
			height: 50px;

			.ruBrowse,
			.ruFileInput {
				width: 120px;
				height: 50px;
				background: #e5e5e5;
				text-transform: uppercase;
				font-size: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 0;
			}
		}

		.ruDropZone {
			display: none;
		}
	}
	.frm-btnwrap {
		padding: 0 10px;
		.frm-btn {
			margin-top: 20px;
			text-align: left;

			input[type=submit] {
				height: 40px;
				width: 100%;
				max-width: 180px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				border-radius: 0;
				background: 0 0;
				border: 2px solid #3361ae;
				color: #3361ae;
				text-transform: uppercase;
			}
		}
	}
}
@media screen and ( max-width: 1024px){
	.fancybox-slide{
		padding: 15px;
	}
	.apply-frm{
		padding: 30px 0;
	}
}
@media screen and ( max-width: 576px){
	.apply-frm{
		h4{
			font-size: 14px;
		}
		.col-left {
			.form-group{
				width: 100%;
			}
		}
		.col-right{
			label {
				font-size: 14px;
				.required {
					font-size: 10px;
				}
			}
		}
	}
}