section.section.dnn-hr1.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title.border__bottom
			h1 tuyển dụng
		.row
			.col-xl-6.col-md-6.dnn-hr1__left
				.dnn-hr1__left__img
					img(src="./assets/images/tuyen-dung/tuyen-dung-2.png", alt="")
			.col-xl-6.col-md-6.dnn-hr1__right
				div
					.block-title
						h1 Môi trường văn hoá
					.dnn-hr1__right__content
						.dnn-hr1__right__content__desc
							p Nhằm mục tiêu đạt được tầm nhìn và sứ mệnh của mình, ngoài việc không ngừng nâng cao hiệu quả kinh doanh, công ty còn rất chú trọng và quyết định sự tồn tại và phát triển của một doanh nghiệp

							p Do đó, Hino Đại Phát Tín không ngừng nghiên cứu và thực hiện tốt công tác tuyển dụng những nhân sự có năng lực, đào tạo, phát triển và xây dựng các chế độ phúc lợi tốt và phù hợp cho nhân viên công ty.