section.section.hinohome9
	.container
		.row
			.col-xl-3
				.item
					.item__img
						img(src="./assets/icons/communicate.png" alt="")
					.item__desc
						p Hỗ trợ khách hàng
			.col-xl-3
				.item
					.item__img
						img(src="./assets/icons/edit-tools.png" alt="")
					.item__desc
						p trung tâm dịch vụ
			.col-xl-3
				.item
					.item__img
						img(src="./assets/icons/people.png" alt="")
					.item__desc
						p tư vấn viên
			.col-xl-3
				.item
					.item__img
						img(src="./assets/icons/education.png" alt="")
					.item__desc
						p đặt câu hỏi
footer
	.footer-block
		.container
			.row
				.col-xl-5.footer-card
					.row
						.col-xl-6
							.card__title
								p showroom tp.hcm
							.card__body
								ul
									li
										p 1286  QL 1A, Thới An, Quận 12, TP.HCM
									li
										p 1800 8043 – 091.143.2772
									li
										p 1800 8042
									li
										p Email: info@hinodpt.vn
						.col-xl-6
							.card__title
								p nhà máy đóng thùng
							.card__body
								ul
									li
										p 171 Quốc lộ 1A, P.Bình Chiểu, Q.Thủ Đức, TP.HCM.
									li
										p 1800 8043 – 091.143.2772
									li
										p 1800 8042
									li
										p Email: info@hinodpt.vn
				.col-xl-2.footer-card
					.card__title
						p showroom cà mau
					.card__body
						ul
							li
								p 333 Lý Thường Kiệt, P.6, Tp.Cà Mau.
							li
								p 1800 8043 – 091.143.2772
							li
								p 1800 8042
							li
								p Email: info@hinodpt.vn
				.col-xl-5.footer-card
					.row
						.col-xl-6
							.card__title
								p showroom cần thơ
							.card__body
								ul
									li
										p QL 91B, Long Tuyển, Bình Thủy, Cần Thơ.
									li
										p 1800 8043 – 091.143.2772
									li
										p 1800 8042
									li
										p Email: info@hinodpt.vn
						.col-xl-6
							.card__title
								p chi nhánh lâm đồng
							.card__body
								ul
									li
										p 215 Quốc lộ 20, Đức Trọng, Lâm Đồng
									li
										p 1800 8043 – 091.143.2772
									li
										p 1800 8042
									li
										p Email: info@hinodpt.vn
				.col-xl-6.footer-card
					.card__title
						p đăng ký nhận bản tin
					.subscribe
						.subscribefrm
							input.subscribeemail(type="text" placeholder="Nhập địa chỉ email của bạn" name="email")
				.col-xl-6.footer-card
					.card__title
						p kết nối với chúng tôi
					ul
						li
							a(href="")
								i.fab.fa-facebook-f
						li
							a(href="")
								i.fab.fa-youtube
						li
							a(href="")
								i.fab.fa-linkedin-in
	.copyright
		.container
			.row
				.col-md-6.d-flex.align-items-center
					p 2020 © Hino Đại Phát Tín. Thiết kế website bởi Cánh Cam.
				.col-md-6
					ul
						li
							a(href="") Điều khoản sử dụng
						li
							a(href="") Chính sách bảo mật
						li
							a(href="") Sitemap