header
	.container
		.main-menu
			.toggle-menu
			.logo
				a(href="index.html")
					img(src="./assets/logo.png")
			.logo-scroll
				a(href="index.html")
					img(src="./assets/logo-scoll.png", alt="")
			<!-- Language mobile -->
			#div-mobile
			<!--Top Menu-->
			.top
				.hotline
					em.material-icons call
					span +84 258 3624 964
				#search__desktop
					a.search.btn.btn__search(data-fancybox data-animation-duration="700" data-src="#searchfancybox" href="javascript:;")
						em.material-icons search
				#language-desktop
					.language.dropdown
						button#dropdownMenuButton.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
							a(href="")
								img(src="./assets/icons/vn.gif" alt="")
								span VN
						.dropdown-menu(aria-labelledby='dropdownMenuButton')
							a.dropdown-item(href='#')
								img(src="./assets/icons/en.gif" alt="") 
								span EN
							a.dropdown-item(href="")
								img(src="./assets/icons/vn.gif" alt="") 
								span VN

			<!-- Main menu -->
			.main-nav
				ul.nav-list
					li.nav-item
						a.nav-link(href="") Giới thiệu
						ul.dropdown-menu
							li.dropdown-item
								a(href="gioi-thieu.html") hino đại tín phát
							li.dropdown-item
								a(href="tin-tuc.html") tin tức
					li.nav-item.drop-mega
						a.nav-link(href="") Xe tải nhỏ hino
						.drop-mega-menu
							.row
								.col-xl-2
									.mega-left
										ul.tab-mega
											li(rel="mega-1").active
												|xe tải hino
												em.lnr.lnr-chevron-right
											li(rel="mega-2")
												| xe thùng
												em.lnr.lnr-chevron-right
								.col-xl-10
									.mega-right#mega-1.panel.active
										.row
											.col-xl-3
												h2 hino 300 series
												ul
													li
														a(href="danh-sach-san-pham.html") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="danh-sach-san-pham.html") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="danh-sach-san-pham.html") Series XZU 650 - Xe tải 1,9 tấn
											.col-xl-3
												h2 hino 500 series
												ul
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
											.col-xl-3
												h2 hino 700 series
												ul
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
											.col-xl-3
												h2 Hino dutro 300
												ul
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
									.mega-right#mega-2.panel
										.row
											.col-xl-3
												h2 hino 300 series 2
												ul
													li
														a(href="danh-sach-san-pham.html") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="danh-sach-san-pham.html") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="danh-sach-san-pham.html") Series XZU 650 - Xe tải 1,9 tấn
											.col-xl-3
												h2 hino 500 series 2
												ul
													li
														a(href="danh-sach-san-pham.html") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
											.col-xl-3
												h2 hino 700 series 2
												ul
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
											.col-xl-3
												h2 Hino dutro 300 2
												ul
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
													li
														a(href="") Series XZU 650 - Xe tải 1,9 tấn
						li.nav-item
							a.nav-link(href="phu-tung.html") phụ tùng bảo dưỡng
						li.nav-item
							a.nav-link(href="") dịch vụ
							ul.dropdown-menu
								li.dropdown-item
									a(href="dich-vu.html") phụ tùng (chính sách bảo hành)
									em.lnr.lnr-chevron-right
								li.dropdown-item
									a(href="dich-vu.html") hỗ trợ kỹ thuật
									em.lnr.lnr-chevron-right
								li.dropdown-item
									a(href="dich-vu.html") dịch vụ đóng thùng (nlsx)
									em.lnr.lnr-chevron-right
								li.dropdown-item
									a(href="dich-vu.html") dịch vụ bảo trì - bảo dưỡng - bảo hành
									em.lnr.lnr-chevron-right
					li.nav-item
						a.nav-link(href="trung-tam-dich-vu.html") trung tâm dịch vụ
					li.nav-item
						a.nav-link(href="ho-tro-khach-hang.html") hỗ trợ khách hàng
					li.nav-item
						a.nav-link(href="") Liên hệ
						ul.dropdown-menu
							li.dropdown-item
								a(href="lien-he.html") liên hệ
							li.dropdown-item
								a(href="danh-sach-tuyen-dung.html") tuyển dụng
					#scrolled.active
						.hotline
							em.material-icons call
							span +84 258 3624 964
						#search__desktop
							a.search.btn.btn__search(data-fancybox data-animation-duration="700" data-src="#searchfancybox" href="javascript:;")
								em.material-icons search
						#language-desktop
							.language.dropdown
								button#dropdownMenuButton.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
									a(href="")
										img(src="./assets/icons/vn.gif" alt="")
										span VN
								.dropdown-menu(aria-labelledby='dropdownMenuButton')
									a.dropdown-item(href='#')
										img(src="./assets/icons/en.gif" alt="") 
										span EN
									a.dropdown-item(href="")
										img(src="./assets/icons/vn.gif" alt="") 
										span VN

