#block__tool
	ul.main-tool
		li.main-tool__item
			a(href="")
				em.fas.fa-map-marker-alt
		li.main-tool__item
			a(href="")
				em.fab.fa-facebook-messenger
		li.main-tool__item
			a(href="")
				em.fas.fa-phone

