#block__tool
	ul.main-tool
		li.main-tool__item
			a(href="")
				em.fa.fa-map-marker
		li.main-tool__item
			a(href="")
				em.ri-messenger-fill
		li.main-tool__item
			a(href="")
				em.material-icons phone_enabled

