#block__tool
	ul.main-tool
		li.main-tool__item
			a(href="")
				em.fa.fa-map-marker
			.sub-menu
				a(href="") Địa điểm 
		li.main-tool__item
			a(href="")
				em.ri-messenger-fill
			.sub-menu
				a(href="") Địa điểm
		li.main-tool__item
			a(href="")
				em.material-icons phone_enabled
			.sub-menu
				a(href="") Địa điểm
		li.main-tool__item.zalo
			a(href="")
				img(src="./assets/icons/600x600wa.png", alt="")
			.sub-menu
				a(href="") Địa điểm

