.hino-contact1 {
	width: 100%;

	.hino-helper2__left {
		margin-right: -30px;
	}

	.map-wrapper {
		width: 100%;
		height: 633px;
		box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.12);

		iframe {
			width: 100%;
			height: 100%;
		}

		@media(max-width: 991.98px) {
			padding: 0;
		}
	}
}

.hino-contact {
	background-color: #fcfcfc;

	.wrap-form>div {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		span {
			color: red;
			font-size: 13px;
			font-family: 'Barlow';
			font-weight: normal;

			&::before {
				content: '';
			}
		}
	}

	.box-form {
		width: 1020px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		.desc{
			width: 100%;
			text-align: center;
			h2 {
				font-size: 16px;
				font-family: "Montserrat";
				color: rgb(51, 51, 51);
				padding-bottom: 30px;
			}
		}
		.form-group {
			margin-bottom: 30px;
			@media(max-width: 1024px) {
				margin-bottom: 15px;
			}
		}

		.form-group input {
			border: solid 1px rgb(245, 245, 245);
			width: 100%;
			height: 50px;
			padding-left: 15px;
			background-color: #f1f1f1;

			&::placeholder {
				font-size: 14px;
			}
		}

		.form-title {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
		}

		.qparagraph {
			flex: 0 0 100%;
			height: 100px;
			margin-bottom: 30px;

			@media(max-width: 1024px) {
				margin-bottom: 15px;
			}

			textarea {
				border: 1px solid #f5f5f5;
				width: 100%;
				height: 100%;
				color: #333;
				caret-color: #064975;
				font-size: 15px;
				padding-left: 15px;
				background-color: #f1f1f1;
			}
		}

		.frm-btnwrap {
			margin: 0 auto;
			margin-bottom: 0;
			flex: none;
			padding: 0;
			float: right;
			width: 170px;

			label {
				display: none;
			}

			.frm-btn {
				margin-top: 30px;
				position: relative;

				input {
					background-color: $main-color;
					width: 191px;
					height: 40px;
					border-radius: 20px;
					border: none;
					text-align: center;
					padding-left: 0;
					font-size: 16px;
					font-family: "Montserrat";
					color: rgb(255, 255, 255);
					font-weight: bold;
					text-transform: uppercase;
				}

				.ri-arrow-right-line {
					position: absolute;
					right: 30px;
					top: 50%;
					transform: translateY(-50%);
					font-size: 18px;
					font-family: "remixicon";
					color: rgb(255, 255, 255);
				}

				@media(max-width: 991.98px) {
					width: 120px;
					font-size: 14px;
				}
			}

			@media(max-width: 1024px) {
				width: unset;
				margin-top: 15px;
				float: left;
			}

			.frm-btn-reset {
				display: none;
			}
		}

		@media screen and (max-width: 1024px) {
			margin-left: 0;
			margin-top: 30px;
		}
	}
}



@media(max-width: 991.98px) {

	&__content {
		&__infor {
			margin-bottom: 25px;

			&__address>ul {
				li {
					margin-bottom: 7px;
				}
			}

			&__title>h4 {
				font-size: 18px;
				margin-bottom: 15px;
			}
		}

		&__form {
			.form-group input {
				margin-bottom: 0;
			}
		}
	}
}