section.hino-pro2.section
	.container
		.row
			.col-xl-3.col-md-4
				.hino-pro2__left
					.hino-pro2__left__title
						h2
							em.material-icons keyboard_arrow_down
							|xe tải hino
					ul
						li
							a(href="") Hino 300 Series

						li
							a(href="") Hino 500 Series

						li
							a(href="") Hino 700 Series

						li
							a(href="") Hino dutro 300
					.hino-pro2__left__title
						h2
							em.material-icons keyboard_arrow_down
							|xe thùng
					ul
						li
							a(href="") Xe Thùng lững
						li
							a(href="") Xe Thùng mui phủ
						li
							a(href="") Xe Thùng kín
						li
							a(href="") Xe tải cẩu
						li
							a(href="") Xe ben
						li
							a(href="") Xe bảo ôn- đông lạnh
						li
							a(href="") Xe bồn nhiêu liệu
						li
							a(href="") Xe ép rác- xe môi trường
						li
							a(href="") Xe chở ô tô- xe máy
						li
							a(href="") Xe chở gia súc- gia cầm
						li
							a(href="") Xe chuyên dùng khác
			.col-xl-9.col-md-8
				.hino-pro2__right
					.hino-pro2__right__title
						h1 Bếp gas
					.row
						-for(i=1; i<10; i++)
							.col-xl-4.col-md-6.col-sm-6
								.hino-pro2__right__item
									a(href="chi-tiet-san-pham.html")
										.hino-pro2__right__item__img
											.img
												img(src="./assets/images/product/pro-1.png" alt="")
										.hino-pro2__right__item__desc
											p Series XZU 650 - Xe tải 1,9 tấn
					.pages
						.modulepager
							ul.pagination
								li.active
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
