section#about3.section.hino-about3
	.container
		.row
			.col-xl-6.hino-about3__content
				.hino-about3__content__img
					img(src="./assets/icons/startup.png" alt="")
				.hino-about3__content__title
					h2 tầm nhìn
				.hino-about3__content__desc
					p Với khát vọng vươn tầm cao mới cũng như một sự đầu tư bền vững và chiến lược phát triển phù hợp, Đại Phát Tín đang phấn đấu để trở thành một trong 3 doanh nghiệp hàng đầu phân phối ô tô HINO chính hãng và sản xuất thùng xe tải có thị phần lớn nhất tại Việt Nam.
			.col-xl-6.hino-about3__content
				.hino-about3__content__img
					img(src="./assets/icons/building.png" alt="")
				.hino-about3__content__title
					h2 sứ mệnh
				.hino-about3__content__desc
					p Mang đến cho khách hàng những sản phẩm và dịch vụ có giá trị đích thực.
					p Tiếp tục giữ vững tâm thế hướng đến “Khát vọng hoàn thiện”, chúng tôi nuôi dưỡng hoài bão
					p Đại Phát Tín mong muốn phát triển vững mạnh, phấn đấu trở thành nhà cung cấp chủ lực tại thị trường Việt Nam giàu tiềm năng.