section#about2.section.hino-about2
	.container
		.block-title
			h1 Lịch sử hình thành
		.hino-about2__slide.relative
			.swiper-container.hino-about2__slide__thumbs
				.swiper-wrapper
					.swiper-slide
						.time
							span 2009
						.box-content
							p mở rộng xưởng đóng thùng xe tải & thùng xe chuyên dụng tại TPHCM
					.swiper-slide
						.time
							span 2014
						.box-content
							p mở rộng xưởng đóng thùng xe tải & thùng xe chuyên dụng tại TPHCM
					.swiper-slide
						.time
							span 2015
						.box-content
							p mở rộng xưởng đóng thùng xe tải & thùng xe chuyên dụng tại TPHCM
					.swiper-slide
						.time
							span 2016
						.box-content
							p mở rộng xưởng đóng thùng xe tải & thùng xe chuyên dụng tại TPHCM
					.swiper-slide
						.time
							span 2017
						.box-content
							p mở rộng xưởng đóng thùng xe tải & thùng xe chuyên dụng tại TPHCM
				.swiper-button-prev
				.swiper-button-next
			.swiper-container.hino-about2__slide__content
				.swiper-wrapper
					.swiper-slide
						.row
							.col-xl-6.img
								img(src="./assets/images/about/ab-2.png" alt="")
							.col-xl-6.content
								.desc
									.title
										p 2009
									p.limit-text Năm 2017 Công ty TNHH Đại Phát Tín đã và đang có kế hoạch sẽ mở rộng thêm: Xưởng sản xuất và đóng thùng xe tải nhằm phục vụ công tác xuất khẩu sang thị trường Châu Á, phát triển thêm 12 văn phòng đại diện khu vực phía Nam để đáp ứng nhu cầu của thị trường. Với tất cả nền tảng cơ sở đó, công ty TNHH Đại Phát Tín sẽ đạt mục tiêu trở thành đơn vị gia công - sản xuất thùng xe tải và kinh Doanh đa ngành nghề số 1 tại Việt Nam.
					.swiper-slide
						.row
							.col-xl-6.img
								img(src="./assets/images/about/ab-2.png" alt="")
							.col-xl-6.content
								.desc
									.title
										p 2014
									p Năm 2017 Công ty TNHH Đại Phát Tín đã và đang có kế hoạch sẽ mở rộng thêm: Xưởng sản xuất và đóng thùng xe tải nhằm phục vụ công tác xuất khẩu sang thị trường Châu Á, phát triển thêm 12 văn phòng đại diện khu vực phía Nam để đáp ứng nhu cầu của thị trường. Với tất cả nền tảng cơ sở đó, công ty TNHH Đại Phát Tín sẽ đạt mục tiêu trở thành đơn vị gia công - sản xuất thùng xe tải và kinh Doanh đa ngành nghề số 1 tại Việt Nam.
					.swiper-slide
						.row
							.col-xl-6.img
								img(src="./assets/images/about/ab-2.png" alt="")
							.col-xl-6.content
								.desc
									.title
										p 2015
									p Năm 2017 Công ty TNHH Đại Phát Tín đã và đang có kế hoạch sẽ mở rộng thêm: Xưởng sản xuất và đóng thùng xe tải nhằm phục vụ công tác xuất khẩu sang thị trường Châu Á, phát triển thêm 12 văn phòng đại diện khu vực phía Nam để đáp ứng nhu cầu của thị trường. Với tất cả nền tảng cơ sở đó, công ty TNHH Đại Phát Tín sẽ đạt mục tiêu trở thành đơn vị gia công - sản xuất thùng xe tải và kinh Doanh đa ngành nghề số 1 tại Việt Nam.
					.swiper-slide
						.row
							.col-xl-6.img
								img(src="./assets/images/about/ab-2.png" alt="")
							.col-xl-6.content
								.desc
									.title
										p 2016
									p Năm 2017 Công ty TNHH Đại Phát Tín đã và đang có kế hoạch sẽ mở rộng thêm: Xưởng sản xuất và đóng thùng xe tải nhằm phục vụ công tác xuất khẩu sang thị trường Châu Á, phát triển thêm 12 văn phòng đại diện khu vực phía Nam để đáp ứng nhu cầu của thị trường. Với tất cả nền tảng cơ sở đó, công ty TNHH Đại Phát Tín sẽ đạt mục tiêu trở thành đơn vị gia công - sản xuất thùng xe tải và kinh Doanh đa ngành nghề số 1 tại Việt Nam.
					.swiper-slide
						.row
							.col-xl-6.img
								img(src="./assets/images/about/ab-2.png" alt="")
							.col-xl-6.content
								.desc
									.title
										p 2017
									p Năm 2017 Công ty TNHH Đại Phát Tín đã và đang có kế hoạch sẽ mở rộng thêm: Xưởng sản xuất và đóng thùng xe tải nhằm phục vụ công tác xuất khẩu sang thị trường Châu Á, phát triển thêm 12 văn phòng đại diện khu vực phía Nam để đáp ứng nhu cầu của thị trường. Với tất cả nền tảng cơ sở đó, công ty TNHH Đại Phát Tín sẽ đạt mục tiêu trở thành đơn vị gia công - sản xuất thùng xe tải và kinh Doanh đa ngành nghề số 1 tại Việt Nam.