section#about1.section.hino-about1
	.container
		.block-title.border__bottom
			h1 tổng quan
		.hino-about1__desc
			p Công ty Đại Phát Tín luôn tiên phong trong việc ứng dụng khoa học kỹ thuật, đầu tư các trang thiết bị hiện đại vào sản xuất nhằm cung cấp cho khách hàng những sản phẩm tốt nhất về chất lượng, hoàn thiện về mẫu mã.
		.row
			.col-xl-4
				.hino-about1__item
					.img
						img(src="./assets/icons/new-product.png" alt="")
					.desc
						h2 Sales
						p Bán hàng
			.col-xl-4
				.hino-about1__item
					.img
						img(src="./assets/icons/edit-tools2.png" alt="")
					.desc
						h2 Service
						p Dịch vụ
			.col-xl-4
				.hino-about1__item
					.img
						img(src="./assets/icons/tool.png" alt="")
					.desc
						h2 Spate Part
						p Dịch vụ chính hiệu Hino
			.col-xl-6.col-md-6
				.hino-about1__left
					.hino-about1__left__content
						.block-title
							h1 Công ty Đại Phát Tín
						.hino-about1__left__content__desc
							p Công ty TNHH Đại Phát Tín được thành lập vào ngày 21-07-2009 theo quyết định của sở kế hoạch đầu tư tỉnh Cà Mau  hiện đang là đại lý 3S chính thức của Công ty Liên doanh TNHH Hino Motors Việt Nam. Trải qua sự nỗ lực không ngừng, đến nay công ty đã có chỗ đứng nhất định ở thị trường trong nước và đang là doanh nghiệp hàng đầu trong lĩnh vực kinh doanh xe ô tô tải hãng HINO và sản xuất thùng xe tải.
						a.btn.btn__new2(href="") Xen thêm
			.col-xl-6.col-md-6
				.hino-about1__right
					.hino-about1__right__img
						img(src="./assets/images/about/ab-1.png" alt="")
