section#about1.section.hino-about1
	.container
		.block-title.border__bottom
			h1 tổng quan
		.hino-about1__desc
			p Công ty Đại Phát Tín luôn tiên phong trong việc ứng dụng khoa học kỹ thuật, đầu tư các trang thiết bị hiện đại vào sản xuất nhằm cung cấp cho khách hàng những sản phẩm tốt nhất về chất lượng, hoàn thiện về mẫu mã.
		.row
			.col-xl-4
				.hino-about1__item
					.img
						img(src="./assets/icons/new-product.png" alt="")
					.desc
						h2 Sales
						p Bán hàng
			.col-xl-4
				.hino-about1__item
					.img
						img(src="./assets/icons/edit-tools2.png" alt="")
					.desc
						h2 Service
						p Dịch vụ
			.col-xl-4
				.hino-about1__item
					.img
						img(src="./assets/icons/tool.png" alt="")
					.desc
						h2 Spate Part
						p Dịch vụ chính hiệu Hino
			.col-xl-6.col-md-6
				.hino-about1__left
					.hino-about1__left__content
						.block-title
							h1 Công ty Đại Phát Tín
						.hino-about1__left__content__desc
							p Công ty TNHH Đại Phát Tín được thành lập vào ngày 21-07-2009 theo quyết định của sở kế hoạch đầu tư tỉnh Cà Mau  hiện đang là đại lý 3S chính thức của Công ty Liên doanh TNHH Hino Motors Việt Nam. Trải qua sự nỗ lực không ngừng, đến nay công ty đã có chỗ đứng nhất định ở thị trường trong nước và đang là doanh nghiệp hàng đầu trong lĩnh vực kinh doanh xe ô tô tải hãng HINO và sản xuất thùng xe tải.
						a.btn.btn__new2(href="#hino-cop" data-fancybox="popup") Xen thêm
			.col-xl-6.col-md-6
				.hino-about1__right
					.hino-about1__right__img
						img(src="./assets/images/about/ab-1.png" alt="")
	#hino-cop(style='display: none;')
		.container
			.content
				.block-title
					h1 Công ty Đại Phát Tín
				p Đại Phát Tín là đơn vị có nhiều năm hoạt động trong lĩnh vực kinh doanh xe ôtô tải. Công ty được thành lập theo quyết định của sở kế hoạch đầu tư Tỉnh Cà Mau ngày 21/07/2009, lĩnh vực hoạt kinh doanh chính là mua bán xe ô tô hiệu Hino.

				p Công ty TNHH Đại Phát Tín được thành lập vào ngày 21-07-2009 theo quyết định của sở kế hoạch đầu tư tỉnh Cà Mau  hiện đang là đại lý 3S chính thức của Công ty Liên doanh TNHH Hino Motors Việt Nam. Trải qua sự nỗ lực không ngừng, đến nay công ty đã có chỗ đứng nhất định ở thị trường trong nước và đang là doanh nghiệp hàng đầu trong lĩnh vực kinh doanh xe ô tô tải hãng HINO và sản xuất thùng xe tải.

				p Với qui mô ngày càng được mở rộng, trụ sở chính đặt tại 333 Lý Thường Kiệt TP. Cà Mau . Đại Phát Tín được xây dựng đạt tiêu chuẩn 3S của HINO MOTORS VIỆT Nam: Sales - Bán hàng; Service- Dịch vụ; Spare Part - Phụ tùng chính hiệu  Hino, với chất lượng sản phẩm được quản lý chặt chẽ theo tiêu chuẩn Nhật Bản.
				p.text-center
					img(src="./assets/images/about/sa.png", alt="")
				p.text-center
					img(src="./assets/images/about/cup.png", alt="")
				p.text-center Chứng nhận 3S của Hino Đại Phát Tín



