section#about4.section.hino-about4
	.container
		.block-title.border__bottom
			h1 giá trị cốt lõi
		.row
			.col-xl-4.col-md-6.col-sm-6.hino-about4__item
				.hino-about4__item__content
					.hino-about4__item__content__img
						img(src="./assets/icons/fame.png" alt="")
					.hino-about4__item__content__title
						h2 Uy tín
					.hino-about4__item__content__desc
						p Đối với chúng tôi dịch vụ bán hàng và sau bán hàng là ưu tiên hàng đầu trong việc xây dựng thương hiệu.với đội ngũ nhân viên đầy tâm huyết, chúng tôi tự tin sẽ cung cấp các dịch vụ bảo hành, bảo dưỡng cho quý khách hàng một cách tốt nhất.
			.col-xl-4.col-md-6.col-sm-6.hino-about4__item
				.hino-about4__item__content
					.hino-about4__item__content__img
						img(src="./assets/icons/medal.png" alt="")
					.hino-about4__item__content__title
						h2 Chất lượng
					.hino-about4__item__content__desc
						p Công ty Đại Phát Tín luôn tiên phong trong việc ứng dụng khoa học kỹ thuật, đầu tư các trang thiết bị hiện đại vào sản xuất nhằm cung cấp cho khách hàng những sản phẩm tốt nhất về chất lượng, hoàn thiện về mẫu mã.
			.col-xl-4.col-md-6.col-sm-6.hino-about4__item
				.hino-about4__item__content
					.hino-about4__item__content__img
						img(src="./assets/icons/professional.png" alt="")
					.hino-about4__item__content__title
						h2 Chuyên nghiệp
					.hino-about4__item__content__desc
						p Gắn kết trách nhiệm Xã Hội trong kinh doanh là phương châm hoạt động mang tính lâu dài của Đại Phát Tín. Song song với việc hoạt động có hiệu quả trong kinh doanh, Đại Phát Tín cam kết luôn tích cực chung tay góp sức với cộng đồng thông qua các hoạt động xã hội, xây dựng đời sống phát triển bền vững.