section.hino-about-menu
	.container
		ul
			li.active
				a(href="#about1") tổng quan
			li
				a(href="#about2") lịch sử hình thành
			li
				a(href="#about3") tầm nhìn- sứ mệnh
			li
				a(href="#about4") giá trị cốt lõi
			li
				a(href="#about5") đối tác