section.section.hino-helper1
	.container
		.block-title.border__bottom
			h1 hỗ trợ khách hàng
		.hino-service3__content.acc
			-for(i=1; i<11; i++)
				.hino-service3__content__card.acc__card
					.hino-service3__content__card__title.acc__title
						p 01. Hino có bao nhiêu trạm dịch vụ?
						em.lnr.lnr-chevron-down
					.hino-service3__content__card__body.acc__panel
						ul
							li
								p Hiện tại Hino có  4 trạm dịch vụ 3S cùng trung tâm hỗ trợ khách hàng 24/24 tại Hồ Chí Minh.
							li
								p Cần tư vấn thêm? Gọi hotline của Hino Đại Phát Tín: 0919742882 
							li
								p Theo dõi trang Facebook của Hino Đại Phát Tín: https://www.facebook.com/otodaiphattin/
		.pages
			.modulepager
				ul.pagination
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
section.section.hino-helper2
	.container
		.block-title
			h1 Liên hệ tư vấn
		.row
			.col-xl-4.col-md-6.col-sm-6
				.hino-helper2__left
					.hino-helper2__left__content
						.hino-helper2__left__content__title
							h2 Showroom Tp.HCM
						.hino-helper2__left__content__desc
							em.material-icons place
							p 1286 - QL 1A, Thới An, Quận 12, TP.HCM
					.hino-helper2__left__content
						.hino-helper2__left__content__title
							h2 Showroom Cà Mau
						.hino-helper2__left__content__desc
							em.material-icons place
							p 333 Lý Thường Kiệt, P.6, Tp. Cà Mau
					.hino-helper2__left__content
						.hino-helper2__left__content__title
							h2 Xưởng Đóng Thùng xe
						.hino-helper2__left__content__desc
							em.material-icons place
							p 171/6 Quốc lộ 1A, P.Bình Chiểu, Q.Thủ Đức, TP.HCM
			.col-xl-8.col-md-6.col-sm-6
				.hino-helper2__right
					.hino-helper2__right__form
						.box-form.form-row
							.form-group.col-xl-6
								label(for="") Họ và tên*
								input(type='text')
							.form-group.col-xl-6
								label(for="") Số điện thoại*
								input(type='text')
							.form-group.col-xl-6
								label(for="") Email*
								input(type='text')
							.form-group.form-title.col-xl-6
								label(for="") Tiêu đề*
								input(type='text')
							.form-group.qparagraph.col-xl-12
								label(for="") Nội dung*
								textarea
							.form-group.frm-btnwrap
								.frm-btn
									button.btn.btn__news2
										|Gửi
										em.ri-arrow-right-line