section.section.hino-pt2.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.hino-pt2__desciption
			.tab-panels
				ul.tabs
					li.active(rel='panel-1') Mô tả
					li(rel='panel-2') Đánh giá
				#panel-1.panel.active
					.desc
						p Phụ tùng Ắc  Nhíp là sản phẩm chính hãng, sản xuất tại nhật bản đạt tiêu chuẩn EUR4. Phụ tùng Ắc Nhíp 500 được phân phối bởi Đại Phát Tín Hino. Phụ tùng Đại Phát Tín Hino luôn mong muốn cung cấp sản phẩm tốt nhất rẻ nhất tới tay khách hàng.
						p Phụ tùng Ắc  Nhíp là sản phẩm chính hãng, sản xuất tại nhật bản đạt tiêu chuẩn EUR4. Phụ tùng Ắc Nhíp 500 được phân phối bởi Đại Phát Tín Hino. Phụ tùng Đại Phát Tín Hino luôn mong muốn cung cấp sản phẩm tốt nhất rẻ nhất tới tay khách hàng.
				#panel-2.panel
					.desc
						p Phụ tùng Ắc  Nhíp là sản phẩm chính hãng, sản xuất tại nhật bản đạt tiêu chuẩn EUR4. Phụ tùng Ắc Nhíp 500 được phân phối bởi Đại Phát Tín Hino. Phụ tùng Đại Phát Tín Hino luôn mong muốn cung cấp sản phẩm tốt nhất rẻ nhất tới tay khách hàng.
						p Phụ tùng Ắc  Nhíp là sản phẩm chính hãng, sản xuất tại nhật bản đạt tiêu chuẩn EUR4. Phụ tùng Ắc Nhíp 500 được phân phối bởi Đại Phát Tín Hino. Phụ tùng Đại Phát Tín Hino luôn mong muốn cung cấp sản phẩm tốt nhất rẻ nhất tới tay khách hàng.