section.section.hino-pt3.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title
			h1 Phụ tùng khác
		.hino-pt3__slide
			.swiper-container.hino-pt3__slide__other
				.swiper-wrapper
					-for(i=7; i<11; i++)
						.swiper-slide
							a(href="")
								.item
									.img
										img(src="./assets/images/product/pro-"+i+".png" alt="")
									.name
										p Sản phẩm công trình số 1
			.swiper-button-next
			.swiper-button-prev