.hino-pt2 {
	padding-top: 0;

	&__desciption {
		.tab-panels {
			.tabs {
				margin-bottom: 30px;
				li {
					margin-right: 70px;
					font-size: 18px;
					
					color: #0b3155;
					font-weight: bold;
					text-transform: uppercase;
					cursor: pointer;

					&.active {
						color: #3361ae;
						border-bottom: solid 1px #3361ae;
					}
				}
			}

			.panel {
				padding: 62px 76px 35px 59px;
				background-color: #f3f3f3;
				@media screen and (max-width: 576px) {
					padding: 15px;
				}
				.desc {
					p {
						font-size: 18px;
						
						color: rgb(51, 51, 51);
						line-height: 1.556;
						text-align: left;
						padding-bottom: 35px;
					}
				}
			}
		}
	}
}