.hino-pt1 {
	&__slide {
		width: 100%;
		height: 455px;
		@media screen and (max-width: 576px) {
			display: flex;
			flex-direction: column-reverse;
			height: auto;
		}
		&__top {
			width: 80%;
			height: 100%;
			float: left;
			padding-left: 10px;
			@media screen and (max-width: 576px) {
				width: 100%;
				float: none;
			}
			.swiper-slide {
				cursor: pointer;

				.img {
					width: 350px;
					height: 350px;
					padding: 30px;
					margin: 0 auto;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
					@media screen and (max-width: 576px) {
						width: 100%;
					}
				}
			}
		}

		&__thumb {
			width: 20%;
			height: 460px;
			overflow-y: hidden;
			float: left;

			.swiper-slide {
				height: 100px !important;
				cursor: pointer;
			}

			.img {
				width: 120px;
				height: 100%;
				cursor: pointer;
				border: solid 1px #e1e1e1;
				padding: 20px;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			@media screen and (max-width: 576px) {
				width: 100%;
				float: none;
				height: auto ;
				.swiper-slide {
					border: solid 1px #e1e1e1;
					height: 75px !important;
				}
				.img {
					height: 75px !important;
					padding: 5px;
					border: none
				}
			}
		}

		.swiper-button-next {
			top: -5%;
			left: 8%;
			transform: rotate(270deg);

			&::after {
				content: 'keyboard_arrow_right';
				font-family: 'Material Icons';
			}
			@media screen and (max-width: 576px) {
				display: none;
			}
		}

		.swiper-button-prev {
			top: 103%;
			left: 8%;
			transform: rotate(270deg);

			&::after {
				content: 'keyboard_arrow_left';
				font-family: 'Material Icons';
			}
			@media screen and (max-width: 576px) {
				display: none;
			}
		}
	}

	@media screen and (max-width: 320px) {
		height: unset;
	}

	&__product-detail {
		padding-left: 55px;
		height: 455px;
		
		.block-title {
			margin-bottom: 30px;

			h1 {
				font-size: 36px;
				
				color: rgb(51, 97, 174);
				font-weight: bold;
			}
		}

		.desc {
			border-bottom: solid 1px $main-color;
			padding-bottom: 10px;

			p {
				font-size: 18px;
				
				color: rgb(51, 51, 51);
				line-height: 1.556;
			}
		}

		.table-responsive {
			.table {
				margin-bottom: 50px;

				tbody {
					tr {
						height: 50px;

						th {
							font-size: 16px;
							
							color: rgb(51, 51, 51);
							font-weight: bold;
							text-align: left;
							padding-left: 0;
						}

						td {
							font-size: 16px;
							
							color: rgb(51, 51, 51);
							text-align: left;
						}
					}
				}
			}

			.table td,
			.table th {
				border-top: none;
				border-bottom: 1px solid #dee2e6;
			}
		}

		&__contact {
			display: flex;
			align-items: center;

			ul {
				margin-bottom: 30px;
				padding-left: 0;
				list-style: none;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				li {
					margin-right: 20px;

					p {
						font-size: 24px;
						
						color: rgb(51, 51, 51);
						font-style: italic;
					}

					.btn__new2 {
						background-color: #ed1c24;
						display: flex;
						align-items: center;
						justify-content: center;

						.material-icons {
							font-size: 18px;
							color: rgb(255, 255, 255);
						}

						span {
							font-size: 15px;
							
							color: rgb(255, 255, 255);
						}
					}

					&:nth-child(3),
					&:nth-child(4) {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;

						a {
							font-size: 16px;
							font-family: "FontAwesome5BrandsRegular";
							color: rgb(255, 255, 255);
						}
					}

					&:nth-child(3) {
						background-color: #264a85;
						margin-left: 10px;
						margin-right: 10px;
					}

					&:nth-child(4) {
						background-color: #0173b2;
					}
				}
			}
		}

		@media screen and (max-width: 767px) {
			padding-left: 15px;
			margin-top: 30px;
		}
		@media screen and (max-width: 576px) {
			height: auto;
			&__contact {
				margin-top: 10px;
				ul{
					margin-bottom: 0;
				}
			}
		}
	}
}