section.section.hino-hr-detail.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.row
			.col-lg-9.col-md-12.col-12.hino-hr-detail__left
				.block-title
					h1 Nhân viên kỹ thuật dịch vụ
				.hino-hr-detail__left__timeline
					.icon-social
						ul
							li
								a(href="")
									em.fa.fa-facebook
							li
								a(href="")
									em.fa.fa-linkedin
					.hino-hr-detail__right__btn
						a.btn.btn__apply(href="") Ứng tuyển
						a.btn.btn__down(href="") Tải form ứng tuyển
				.hino-hr-detail__left__content
					h2 Thông tin tuyển dụng nhanh
					table.table.table-borderless
						tbody
							tr
								td
									.img
										em.fa.fa-id-badge
									span Ngành nghề
								td
									p Kinh doanh
							tr
								td
									.img
										em.fa.fa-usd
									span Lương
								td
									p.color-special 8.000.000 - 12.000.000 VNĐ
							tr
								td
									.img
										img(src="./assets/icons/hinhthuc.png", alt="")
									span Hình thức công việc
								td
									p Full time
							tr
								td
									.img
										em.material-icons person

									span Cấp bậc
								td
									p Nhân viên
							tr
								td
									.img
										em.fa.fa-briefcase
									span Kinh nghiệm
								td
									p Không cần
							tr
								td
									.img
										em.fa.fa-calendar-times-o
									span Ngày hết hạn
								td
									p.color-special2 28/06/2020
							tr
								td
									.img
										em.fa.fa-calendar
									span Ngày cập nhật
								td
									p 15/05/2020
				.hino-hr-detail__left__content__list
					h2 Mô tả công việc
					ul
						li
							p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
						li
							p Báo cáo kết quả hàng tuần với ban lãnh đạo
						li
							p Thực hiện các công việc được giao
						li
							p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
						li
							p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
				.hino-hr-detail__left__content__list
					h2 Yêu cầu công việc
					ul
						li
							p Lên kế hoạch tìm kiếm khách hàng qua các kênh khác nhau
						li
							p Báo cáo kết quả hàng tuần với ban lãnh đạo
						li
							p Thực hiện các công việc được giao
						li
							p Chăm sóc khách hàng cũ và thu thập thông tin khách hàng mới
						li
							p Kế hợp các phòng ban thực hiện các chiến dịch của công ty
			.col-lg-3.col-md-12.col-12
				.hino-hr-detail__right
					.hino-hr-detail__right__content
						.block-title
							h1 công việc tương tự
						ul.hino-hr-detail__right__content__list
							-for(i=1; i<6; i++)
								li.hino-hr-detail__right__content__list__item
									a(href="chi-tiet-tuyen-dung.html")
										p Phó phòng kinh doanh
										p Nơi làm việc: TP. Hồ Chí Minh
										p.color-special2 Hạn nộp hồ sơ: 28/ 06/ 2020
