section.hino-accessary.section
	.container
		.row
			.col-xl-3.col-md-4
				.hino-accessary__left
					ul
						li.active
							a(href="")
								|phụ tùng bảo dưỡng
						li
							a(href="")
								|phụ tùng chính hãng
						li
							a(href="")
								|phụ tùng thay thế nhanh
			.col-xl-9.col-md-8
				.hino-pro2__right
					.hino-pro2__right__title
						h1 Bếp gas
					.row
						-for(i=1; i<10; i++)
							.col-xl-4.col-md-6.col-sm-6
								.hino-pro2__right__item
									a(href="chi-tiet-san-pham.html")
										.hino-pro2__right__item__img
											.img
												img(src="./assets/images/product/pro-1.png" alt="")
										.hino-pro2__right__item__desc
											p Series XZU 650 - Xe tải 1,9 tấn
					.pages
						.modulepager
							ul.pagination
								li.active
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
