section.hino-banner#page-banner
	.hino-banner__pages(setBackground="./assets/images/banner/phutung-banner.png")
		.container
			.hino-banner__pages__content
				.desc
					h1 hino đại phát tín
					p Bạn đồng hành đáng tin cậy
					a.btn.btn__banner(href="") Liên hệ ngay
