section.hino-service1.section
	.container
		.block-title.border__bottom
			h1 dịch vụ bảo trì - bảo dưỡng - bảo hành
		.hino-service1__content
			.row
				.col-xl-6.col-md-6
					.hino-service1__content__img
						img(src="./assets/images/service/sr-1.png" alt="")
				.col-xl-6.col-md-6
					.content
						.hino-service1__content__title
							h2 Chính sách bảo hành
						.hino-service1__content__desc
							p Công ty Đại Phát Tín có trách nhiệm về mặt pháp lý cung cấp bảo hành cho tất cả các sản phẩm của mình bán ra. Bảo hành của công ty được công bố thành văn bản về trách nhiệm của công ty đối với việc sửa chữa và thay thế những phụ tùng có khuyết tật.
						a.btn.btn__new2(href="#hino-cop" data-fancybox="") Xem thêm
		.hino-service1__content
			.row
				.col-xl-6.col-md-6
					.content
						.hino-service1__content__title
							h2 Xe bảo dưỡng
						.hino-service1__content__desc
							p Công ty Đại Phát Tín có trách nhiệm về mặt pháp lý cung cấp bảo hành cho tất cả các sản phẩm của mình bán ra. Bảo hành của công ty được công bố thành văn bản về trách nhiệm của công ty đối với việc sửa chữa và thay thế những phụ tùng có khuyết tật.
						a.btn.btn__new2(href="#hino-cop" data-fancybox="") Xem thêm
				.col-xl-6.col-md-6
					.hino-service1__content__img
						img(src="./assets/images/service/sr-2.png" alt="")
		.hino-service1__content
			.row
				.col-xl-6.col-md-6
					.hino-service1__content__img
						img(src="./assets/images/service/sr-3.png" alt="")
				.col-xl-6.col-md-6
					.content
						.hino-service1__content__title
							h2 Xe chuyên dùng
						.hino-service1__content__desc
							p Xe cẩu, xe bửng nâng, xe ben, Xe tưới nước, rửa đường, hút hầm cầu, xe ép rác…
								|Hệ thống nhà xưởng được trang bị đầy đủ các máy móc công nghệ phục vụ cho quá trình sản xuất gồm: Máy chấn, Máy cắt, Máy tiện, cẩu có tải trọng lớn.
						a.btn.btn__new2(href="#hino-cop" data-fancybox="") Xem thêm
#hino-cop(style='display: none;')
	.container
		.content
			.block-title.text-center
				h1 Chích sách bảo hành
			p Đại Phát Tín là đơn vị có nhiều năm hoạt động trong lĩnh vực kinh doanh xe ôtô tải. Công ty được thành lập theo quyết định của sở kế hoạch đầu tư Tỉnh Cà Mau ngày 21/07/2009, lĩnh vực hoạt kinh doanh chính là mua bán xe ô tô hiệu Hino.

			p Công ty TNHH Đại Phát Tín được thành lập vào ngày 21-07-2009 theo quyết định của sở kế hoạch đầu tư tỉnh Cà Mau  hiện đang là đại lý 3S chính thức của Công ty Liên doanh TNHH Hino Motors Việt Nam. Trải qua sự nỗ lực không ngừng, đến nay công ty đã có chỗ đứng nhất định ở thị trường trong nước và đang là doanh nghiệp hàng đầu trong lĩnh vực kinh doanh xe ô tô tải hãng HINO và sản xuất thùng xe tải.

			p Với qui mô ngày càng được mở rộng, trụ sở chính đặt tại 333 Lý Thường Kiệt TP. Cà Mau . Đại Phát Tín được xây dựng đạt tiêu chuẩn 3S của HINO MOTORS VIỆT Nam: Sales - Bán hàng; Service- Dịch vụ; Spare Part - Phụ tùng chính hiệu  Hino, với chất lượng sản phẩm được quản lý chặt chẽ theo tiêu chuẩn Nhật Bản.
			p.text-center
				img(src="./assets/images/about/sa.png" alt="")
			h2 Những nội dung được bảo hành:
			p Bắt đầu bảo hành: chế độ bảo hành bắt đầu khi xe được giao cho chủ xe đầu tiên Thời hạn bảo hành: trong vòng 12 tháng và không giới hạn số km
			h2 Những nội dung được bảo hành:
			p Hino chỉ đảm bảo sẽ sửa chữa hoặc thay thế bất kỳ phụ tùng nào của xe Hino mới bị hư hỏng trong điều kiện:
			ul
				li
					p Xe đang họat động bình thường
				li
					p Nguyên liệu phụ tùng không tốt
				li
					p Lỗi lắp ráp
				li
					p Trừ những trường điều kiện ghi trong mục KHÔNG ĐƯỢC BẢO HÀNH
			p Bảo hành miễn phí: Mọi sửa chữa thuộc chế độ bảo hành (phụ tùng, nhân công)
			p.text-center.d-flex.justify-content-center
				a.btn.btn__new2(href="")
					|Xem thêm
					span.material-icons keyboard_arrow_down



