section.section.hino-service3
	.container
		.block-title.border__bottom
			h1 hỏi đáp
		.hino-service3__content.acc
			-for(i=1; i<11; i++)
				.hino-service3__content__card.acc__card
					.hino-service3__content__card__title.acc__title
						p 01. Hino có bao nhiêu trạm dịch vụ?
						em.lnr.lnr-chevron-down
					.hino-service3__content__card__body.acc__panel
						ul
							li
								p Hiện tại Hino có  4 trạm dịch vụ 3S cùng trung tâm hỗ trợ khách hàng 24/24 tại Hồ Chí Minh.
							li
								p Cần tư vấn thêm? Gọi hotline của Hino Đại Phát Tín: 0919742882 
							li
								p Theo dõi trang Facebook của Hino Đại Phát Tín: https://www.facebook.com/otodaiphattin/
		.pages
			.modulepager
				ul.pagination
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3