section.hino-service1.section
	.container
		.block-title.border__bottom
			h1 dịch vụ bảo trì - bảo dưỡng - bảo hành
		.hino-service1__content
			.row
				.col-xl-6.col-md-6
					.hino-service1__content__img
						img(src="./assets/images/service/sr-1.png", alt="")
				.col-xl-6.col-md-6
					.content
						.hino-service1__content__title
							h2 Chính sách bảo hành
						.hino-service1__content__desc
							p Công ty Đại Phát Tín có trách nhiệm về mặt pháp lý cung cấp bảo hành cho tất cả các sản phẩm của mình bán ra. Bảo hành của công ty được công bố thành văn bản về trách nhiệm của công ty đối với việc sửa chữa và thay thế những phụ tùng có khuyết tật.
						a.btn.btn__new2(href="") Xem thêm
		.hino-service1__content
			.row
				.col-xl-6.col-md-6
					.content
						.hino-service1__content__title
							h2 Xe bảo dưỡng
						.hino-service1__content__desc
							p Công ty Đại Phát Tín có trách nhiệm về mặt pháp lý cung cấp bảo hành cho tất cả các sản phẩm của mình bán ra. Bảo hành của công ty được công bố thành văn bản về trách nhiệm của công ty đối với việc sửa chữa và thay thế những phụ tùng có khuyết tật.
						a.btn.btn__new2(href="") Xem thêm
				.col-xl-6.col-md-6
					.hino-service1__content__img
						img(src="./assets/images/service/sr-2.png", alt="")
		.hino-service1__content
			.row
				.col-xl-6.col-md-6
					.hino-service1__content__img
						img(src="./assets/images/service/sr-3.png", alt="")
				.col-xl-6.col-md-6
					.content
						.hino-service1__content__title
							h2 Xe chuyên dùng
						.hino-service1__content__desc
							p Xe cẩu, xe bửng nâng, xe ben, Xe tưới nước, rửa đường, hút hầm cầu, xe ép rác…
								|Hệ thống nhà xưởng được trang bị đầy đủ các máy móc công nghệ phục vụ cho quá trình sản xuất gồm: Máy chấn, Máy cắt, Máy tiện, cẩu có tải trọng lớn.
						a.btn.btn__new2(href="") Xem thêm