section.section.hino-service2
	.container
		.block-title.border__bottom
			h1 dịch vụ bảo trì - bảo dưỡng - bảo hành
		.row
			.col-xl-6.col-md-12.hino-news2__news__left
				.hino-news2__news__left__img
					img(src="./assets/images/service/sr-4.png" alt="")
			.col-xl-6.col-md-12.hino-news2__news__right
				.row
					.col-xl-6.col-md-6
						.hino-news2__news__right__item
							.hino-news2__news__right__item__img
								img(src="./assets/images/service/sr-5.png" alt="")
					.col-xl-6.col-md-6
						.hino-news2__news__right__item
							.hino-news2__news__right__item__img
								img(src="./assets/images/service/sr-6.png" alt="")
					.col-xl-6.col-md-6
						.hino-news2__news__right__item
							.hino-news2__news__right__item__img
								img(src="./assets/images/service/sr-7.png" alt="")
					.col-xl-6.col-md-6
						.hino-news2__news__right__item
							.hino-news2__news__right__item__img
								img(src="./assets/images/service/sr-8.png" alt="")