section.section.hino-contact.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.box-form.form-row
			.desc
				h2 Vui lòng điền vào mẫu thông tin dưới đây, Hino Đại Phát Tín sẽ phản hồi quý khách trong thời gian sớm nhất.
			.form-group.col-xl-6
				label(for="") Họ và tên*
				input(type='text')
			.form-group.col-xl-6
				label(for="") Số điện thoại*
				input(type='text')
			.form-group.col-xl-6
				label(for="") Email*
				input(type='text')
			.form-group.form-title.col-xl-6
				label(for="") Tiêu đề*
				input(type='text')
			.form-group.qparagraph.col-xl-12
				label(for="") Nội dung*
				textarea(cols="30", rows="5")
			.form-group.frm-btnwrap
				.frm-btn
					input.btn.btn-default.frm-btn-submit(type='submit' name="" value='Gửi')
					em.ri-arrow-right-line