.hinohome3{
	width: 100%;
	@media screen and (max-width: 576px) {
		padding: 0;
	}
	&__content{
		margin-left: -105px;
		margin-right: -105px;
		padding: 0 105px;
		min-height: 600px;
		display: flex;
		align-items: center;
		@media screen and (max-width: 576px) {
			padding: 30px 105px;
			min-height: 100%;
		}
		.block-title{
			margin-bottom: 30px;
			p{
				font-size: 18px;
				
				color: rgb(255, 255, 255);
				font-weight: 600;
				text-transform: uppercase;
			}
			h1{
				color: $color-while;
			}
		}
		&__desc{
			margin-bottom: 35px;
			p{
				font-size: 18px;
				
				color: rgb(255, 255, 255);
				line-height: 1.556;
				text-align: left;
			}
		}
		.btn__new{
			&:hover{
				color: #fff;
			}
		}
	}
}