.hinohome6{
	&__slide{
		position: relative;
		&__video{
			&__img{
				cursor: pointer;
				position: relative;
				display: flex;
				justify-content: center;
				width: 100%;
				height: 220px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&::after{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					content: '';
					background-color: rgba($color: #000000, $alpha: .5);
				}
				
			}
			&__name{
				padding-top: 30px;
				a{
					font-size: 18px;
					
					color: rgb(51, 51, 51);
					font-weight: bold;
					text-align: left;
				}
			}
		}
		.swiper-slide{
			&:hover{
				.hinohome6__slide__video__name{
					a{
						color: $main-color;
					}
				}
			}
		}
		.swiper-button-prev{
			left: -60px;
		}
		.swiper-button-next{
			right: -60px;
		}
	}
}