.hinohome8{
	&__slide{
		&__partner{
			.img{
				width: 100%;
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
				img{
					height: 100%;
					width: 100%;
					object-fit: contain;
				}
			}
		}
		.swiper-button-prev{
			left: -60px;
		}
		.swiper-button-next{
			right: -60px;
		}
	}
}