section.hino-detail1.section.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.hino-detail1__content
			.row
				.col-xl-6
					.hino-detail1__content__left
						.block-title
							h1 Hino 300 series XZU 650 - Xe tải 1,9 tấn
						ul
							li
								p Giá
							li
								a.btn.btn__new2(href="", data-toggle="modal", data-target="#formbaogia")
									em.material-icons call
									sapn Liên hệ
								
							li
								a(href="")
									em.fab.fa-facebook-f
							li
								a(href="" )
									em.fab.fa-linkedin-in
						.hino-detail1__content__left__desc
							p Xe tải Hino 300 Series mới được thiết kế chất lượng cao cả về hình dáng bên ngoài lẫn nội thất bên trong với một loạt các tính năng ưu việt: phong cách giản dị nhưng đầy ấn tượng độ bền cao, cabin thoáng và rộng, tiện ích trong sử dụng.
				.col-xl-6
					.hino-detail1__content__right
						.img
							img(src="./assets/images/product/pro-2.png", alt="")

