section.section.hino-detail4.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title
			h1 Xe tải Hino khác
		.hino-detail4__other
			.swiper-container.hino-detail4__other__slide
				.swiper-wrapper
					-for(i=3; i<7; i++)
						.swiper-slide
							a(href="")
								.hino-detail4__other__slide__img
										img(src="./assets/images/product/pro-"+i+".png" alt="")
								.hino-detail4__other__slide__name
									p Sản phẩm công trình số 1
			.swiper-button-next
			.swiper-button-prev