section.section.hino-detail2.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title
			h1 Thông tin chi tiết
		.tab-panels
			ul.tabs
				li.active(rel='panel-1') Giới thiệu
				li(rel='panel-2') Thông số kỹ thuật
				li(rel='panel-3') Đặc tính
			#panel-1.panel.active
				table
					tbody
						tr
							td
								img(alt='', src='./assets/images/product/sanpham_ct.png')
							td
								h2 GIỚI THIỆU
								p
									strong Tình trạng
									| : mới 100%
								p
									strong Bảo hành
									| : 1 năm không giới hạn km
								p
									span Hỗ trợ vay ngân hàng đến 70%
								.desc
									p
										| Model XZU 650 dòng xe tải nhỏ được lắp ráp tại Việt Nam, linh kiện Nhật Bản, thiết kế ngoại thất phong cách đơn giản tinh tế. Nội thất được trang bị tiện nghi cao cấp. Tính năng vượt trội về động cơ mạnh mẽ, công suất cực đại 136 PS. XZU 650 là xe 1,9 tấn hạ tải xuống 1,5 tấn phù hợp với khách hàng có nhu cầu làm xe động lạnh, xe chở đồ khô, gia xúc gia cầm nhỏ, các thùng bảo ôn, thùng mui bạt. Di chuyển thuận lợi với những con đường có không gian hẹp trong nội thành. Là dòng xe tải nhẹ được thiết kế với công nghệ phun dầu bằng điện tử đã làm tăng tính kinh tế tiết kiệm chi phí nguyên liệu. Với dịch vụ hậu mãi sau bán hàng, bảo trì miễn phí, chăm sóc định kì được khách hàng đánh giá cao. Hino luôn là sự lựa chọn hàng đầu đã được khách hàng sử dụng và tín nhiệm.
								.btn-popup
									a.btn.btn__new2(href="" data-fancybox="") Xem Thêm

			#panel-2.panel
				table
					tbody
						tr
							td
								img(alt='', src='./assets/images/product/sanpham_ct.png')
							td
								h2 GIỚI THIỆU
								p
									strong Tình trạng
									| : mới 100%
								p
									strong Bảo hành
									| : 1 năm không giới hạn km
								p
									span Hỗ trợ vay ngân hàng đến 70%
								.desc
									p Model XZU 650 dòng xe tải nhỏ được lắp ráp tại Việt Nam linh kiện Nhật Bản, thiết kế ngoại thất phong cách đơn giản tinh tế. Nội thất được trang bị tiện nghi cao cấp.tính năng vượt trội về động cơ mạnh mẽ, công suất cực đại 136 PS. Xmui bạt. Di chuyển thuận lợi với những con đường có không gian hẹp trong nội thành.là dòng xe tải nhẹ được thiết kế với công nghệ phun dầu bằng điện tử đã làm tăng tính kinh tế tiết kiêm chi phí nguyên liệu. Với dịch vụ hậu mãi sau bán hàng bảo trì miễn phí chăm sóc định kì được khách hàng đánh giá cao. Hino luôn là sự lựa chọn hàng đầu đã được khách hàng sử dụng và tín nhiệm.
			#panel-3.panel
				table
					tbody
						tr
							td
								img(alt='', src='./assets/images/product/sanpham_ct.png')
							td
								h2 GIỚI THIỆU
								p
									strong Tình trạng
									| : mới 100%
								p
									strong Bảo hành
									| : 1 năm không giới hạn km
								p
									span Hỗ trợ vay ngân hàng đến 70%
								.desc
									p
										| Model XZU 650 dòng xe tải nhỏ được lắp ráp tại Việt Nam, linh kiện Nhật Bản, thiết kế ngoại thất phong cách đơn giản tinh tế. Nội thất được trang bị tiện nghi cao cấp. Tính năng vượt trội về động cơ mạnh mẽ, công suất cực đại 136 PS. XZU 650 là xe 1,9 tấn hạ tải xuống 1,5 tấn phù hợp với khách hàng có nhu cầu làm xe động lạnh, xe chở đồ khô, gia xúc gia cầm nhỏ, các thùng bảo ôn, thùng mui bạt. Di chuyển thuận lợi với những con đường có không gian hẹp trong nội thành. Là dòng xe tải nhẹ được thiết kế với công nghệ phun dầu bằng điện tử đã làm tăng tính kinh tế tiết kiệm chi phí nguyên liệu. Với dịch vụ hậu mãi sau bán hàng, bảo trì miễn phí, chăm sóc định kì được khách hàng đánh giá cao. Hino luôn là sự lựa chọn hàng đầu đã được khách hàng sử dụng và tín nhiệm.