section.section.hino-detail3.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block-title
			h1 Hình ảnh
		.hino-detail3__slide
			.swiper-container.hino-detail3__slide__top
				.swiper-wrapper
					-for(i=1; i<7; i++)
						.swiper-slide
							.img
								img(src="./assets/images/product/slide-"+i+".png" alt="")
			.swiper-button-next
			.swiper-button-prev
			.swiper-container-thumbs.hino-detail3__slide__thumb
				.swiper-wrapper
					-for(i=1; i<7; i++)
						.swiper-slide
							.img
								img(src="./assets/images/product/slide-"+i+".png" alt="")