section.section.hino-news-detail.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.row
			.col-md-9
				.block-title
					h1 Những tâm sự vui, buồn của nghề tài xế
				.hino-news-detail__timeline
					.hino-news-detail__timeline__time
						span.lnr.lnr-calendar-full
						.date 01.04.2020
					.hino-news-detail__timeline__icon-social
						ul
							li
								a(href="")
									em.fab.fa-facebook-f
							li
								a(href="")
									em.fab.fa-linkedin-in
				.hino-news-detail__content
					p Đời tài xế lái thuê có lắm chuyện vui buồn. Vui là sau mỗi chuyến xe an toàn đi đến nơi về đến chốn. Buồn là đôi lúc gặp những sự cố hư hỏng xe giữ đường làm chậm trễ một chuyến giao hàng.

					p Có lần anh bạn thân của tôi đã từ lâu không gặp sau nhiều năm nói đùa: “Ông có nhiều tài nhưng chỉ có một thứ tài được cấp giấy chứng nhận hẳn hoi đó là tài xế”. Ngẫm nghĩ thấy anh ta nói đúng. Tôi có một vài tài lẻ nhưng chẳng thứ nào được cấp giấy phép. Xưa học một đường, ra trường làm một nẻo, bằng vài nghề tréo ngoe, mớ kiến thức chuyên môn dần bị bụi thời gian khoả lấp.
					img(src="./assets/images/news/news-detail-big.png", alt="")
					p Ấy vậy mà nghề tài xế đối với tôi lại rất thật. Thật là vì có bằng được cấp đàng hoàng lúc không có việc làm nó lại trở thành cái nghề cho thu nhập chính hơn hẳn đồng lương nhân viên văn phòng. Đời tài xế cũng có lắm cung bậc thăng trầm nhất là tài xế lái xe tải, chuyện vui trong nghề cũng lắm mà chuyện phiền, buồn cũng nhiều.

					p Đừng tưởng ngồi sau vô-lăng được đi hết nơi này đến nơi khác là sung sướng. Nghề lái xe là nghề vất vả nhất trong số các nghề vì nó buộc ta phải huy động hầu như toàn bộ cơ thể, mắt căng, tai ngóng, chân đạp, tay xoay sao cho nhuần nhuyễn, không sai nhịp bên cạnh đó đầu óc lúc nào cũng phải tỉnh táo để phán đoán nhận định tình huống mà xử lý. Cũng chính vì vậy dân trong nghề hay ví von lái xe là nghề chân trong, chân ngoài, đạp trật thắng là trúng ngay cái còng số 8, bóc lịch như chơi.

					p Như mọi người điều biết nghề lái xe tải hầu hết các chuyến xe đều phải về trong đêm. Đường xa, đêm vắng, xe bon bon chạy những tài xế láy xe chúng tôi vẫn phải căng mắt, lặng lẽ một mình trong cuộc hành trình. Nhìn những mái nhà ấm cúng đã lên đèn, cảm giác cô đơn, buồn tủi của đời đi sớm về tối chợt ùa đến. Tôi tin rằng bất cứ tay lái xe nào cũng đều có một chút tâm hồn nghệ sĩ ẩn bên trong. Và có phải do cái chất lãng mạn nghệ sĩ này nên đôi khi bị người đời gán cho tội “thiếu đàng hoàng”, là đào hoa bay bướm ?!
					img(src="./assets/images/news/news-detail-big.png", alt="")
					p Bây giờ, nhìn chung nghề lái xe, không còn được ưu ái như xưa. Tuy nhiên nghề nào cũng là nghề cũng đóng góp cho xã hội, phục vụ cho cộng đồng và nuôi sống chính bản thân, gia đình mình. Nghề tài xế còn có một trách nhiệm lớn luôn mang đến những gì tốt nhất nhanh nhất và an toàn nhất. Một chút bất cẩn lơ đễnh sẽ mang lại những hậu quả khôn lường.

					p Mỗi năm có hàng vạn lái xe ô tô được đào tạo, trong đó có nhiều bằng cấp dành cho xe tải từ B1, B2 cho đến Fc. Lái xe trọng tải lớn rồi sẽ trở thành phổ thông như lái mô tô, nhưng tài xế chuyên nghiệp vẫn phải khác. 

					p Trong thời gian qua có nhiều tai nạn xe khách thảm khốc xảy ra, gây thiệt hại nghiêm trọng về người và của. Đa số đều do lỗi chủ quan bất cẩn của tài xế như chạy quá tốc độ, tránh vượt ẩu, không làm chủ tay lái. Một trong những nguyên nhân chính dẫn đến tai nạn là do cái tính chất khắc nghiệt của nghề, kể cả việc lái xe bị vắt kiệt sức khai thác tối đa phương tiện vì lợi ích kinh tế. Ngoài ra, chất lượng đào tạo lái xe của các trung tâm dạy nghề, chất luợng kiểm định xe ở các trung tâm đăng kiểm, nạn mua bán bằng giả…cũng góp phần không nhỏ làm gia tăng tai nạn trên đường.

					p Vì vậy các bác tài ngoài việc nâng cao kỹ năng chuyên môn, còn phải được trang bị đạo đức nghề nghiệp, phong cách ứng xử trong quá trình tham gia giao thông, hay nói cách khác là phải có văn hóa trong lái xe. Trong xu thế phát triển của đất nước, cánh lái xe cũng cần chuẩn bị tâm thế để bước vào thế kỷ của cao tốc, siêu tốc đã không còn xa nữa…
			.col-md-3
				.hino-news-detail__other
					.block-title
						h1 Tin tức khác
					ul.hino-news-detail__other__list
						-for(i=1; i<6; i++)
							li.hino-news-detail__other__list__item
								a(href="chi-tiet-tin-tuc.html")
									.hino-news-detail__other__list__item__img
										img(src="./assets/images/news/news-"+i+".png", alt="")
									.hino-news-detail__other__list__item__desc
										.date 
											span.lnr.lnr-calendar-full
											|10.02.2020
										p Các loại khuôn đúc kim loại.