section.section.hino-news2
	.container
		.block-title.border__bottom
			h1 hình ảnh
			ul.tabs-news
				li.active
					a(href="tin-tuc.html") Tin tức
				li
					a(href="hinhanh.html") Hình ảnh
				li
					a(href="video.html") Video
		.hino-news2__image
			.row
				.col-xl-6.col-md-12.hino-news2__image__left
					.hino-news2__image__left__img
						img(src="./assets/images/home/news-1.png" alt="")
				.col-xl-6.col-md-12.hino-news2__image__right
					.row
						.col-xl-6.col-md-6
							.hino-news2__image__right__item
								.hino-news2__image__right__item__img
									img(src="./assets/images/home/news-2.png" alt="")
						.col-xl-6.col-md-6
							.hino-news2__image__right__item
								.hino-news2__image__right__item__img
									img(src="./assets/images/home/news-3.png" alt="")
						.col-xl-6.col-md-6
							.hino-news2__image__right__item
								.hino-news2__image__right__item__img
									img(src="./assets/images/home/news-4.png" alt="")
						.col-xl-6.col-md-6
							.hino-news2__image__right__item
								.hino-news2__image__right__item__img
									img(src="./assets/images/home/news-5.png" alt="")
				.col-xl-6.col-md-12.hino-news2__image__right
					.row
						.col-xl-6.col-md-6
							.hino-news2__image__right__item
								.hino-news2__image__right__item__img
									img(src="./assets/images/home/news-2.png" alt="")
						.col-xl-6.col-md-6
							.hino-news2__image__right__item
								.hino-news2__image__right__item__img
									img(src="./assets/images/home/news-3.png" alt="")
						.col-xl-6.col-md-6
							.hino-news2__image__right__item
								.hino-news2__image__right__item__img
									img(src="./assets/images/home/news-4.png" alt="")
						.col-xl-6.col-md-6
							.hino-news2__image__right__item
								.hino-news2__image__right__item__img
									img(src="./assets/images/home/news-5.png" alt="")
				.col-xl-6.col-md-12.hino-news2__image__left
					.hino-news2__image__left__img
						img(src="./assets/images/home/news-1.png" alt="")