section.hinohome-banner#home-banner
	.swiper-container.hinohome-banner__slide
		.swiper-wrapper
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/b-1.png")
					img(src="./assets/images/banner/b-1.png", alt="")
				.content
					h1 Hino Đại Phát Tín
					p Bạn đồng hành đáng tin cậy
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/b-2.png")
					img(src="./assets/images/banner/b-2.png", alt="")
				.content
					h1 Hino Đại Phát Tín
					p Bạn đồng hành đáng tin cậy
			.swiper-slide
				a.swiper-inner(href="#" setBackground="./assets/images/banner/b-3.png")
					img(src="./assets/images/banner/b-3.png", alt="")
				.content
					h1 Hino Đại Phát Tín
					p Bạn đồng hành đáng tin cậy
		.down-page-icon
			a.crolldown(href="#dnn-home1")
				img(src="./assets/icons/download.png", alt="")
		.swiper-button-prev
		.swiper-button-next