header {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding-bottom: 15px;
	padding-top: 18px;
	transition: ease-in-out all .3s;
	display: flex;
	align-items: center;
	margin-left: auto;
	background-color: #fff;

	.relative,
	.Module {
		width: 100%;
	}

	.relative {
		position: static;
	}

	.main-menu {
		.toggle-menu {
			cursor: pointer;
			position: relative;
			width: 40px;
			height: 40px;
			padding: 20px;
			background: $main-color;
			border-radius: 5px;
			display: none;

			&:before,
			&:after {
				position: absolute;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 18px;
				height: 2px;
				background-color: #fff;
				content: "";
				transition: .3s all linear;
			}

			&:before {
				top: 23px;
			}

			&:after {
				top: 15px;
			}

			&.active {

				&:before,
				&:after {
					top: 50%;
					left: 50%;
				}

				&:before {
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&:after {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}

		.logo {
			float: left;
			width: 198px;
			height: 66px;
			display: flex;
			align-items: center;
			margin-right: 69px;

			img {
				width: 100%;
				height: 100%;
			}

			&.active {
				opacity: 0;
				visibility: hidden;
				display: none;
			}

			@media screen and (max-width: 576px) {
				margin-right: 35px;
			}
		}

		.logo-scroll {
			display: none;
		}

		position: relative;
		margin-left: auto;

		.top {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 20px;

			.hotline {
				display: flex;
				align-items: center;
				justify-content: center;

				div,
				div {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.material-icons {
					color: $color-while;
					font-size: 18px;
				}

				span {
					color: $color-while;
					padding-left: 10px;
					font-size: 13px;
				}

				width: 175px;
				height: 30px;
				background-color: $main-color;
			}

			#language-desktop {
				margin-left: 20px;

				.language {
					button {
						border: 0;
						outline: none;
						background-color: transparent;

						&::after {
							display: none;
						}

						a {
							span {
								padding-left: 10px;
							}
						}
					}

					.dropdown-menu {
						right: 0 !important;
						min-width: 95px;

						.dropdown-item {
							padding: 5px 15px;

							span {
								padding-left: 10px;
							}
						}
					}
				}

				@media screen and (max-width: 1024px) {
					display: none;
				}
			}

			#search__desktop {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 20px;
				width: 30px;
				height: 30px;
				border: solid 1px $main-color;

				.search {
					display: flex;
					align-items: center;

					.material-icons {
						color: $main-color;
						font-size: 18px;
					}
				}

				@media screen and (max-width: 1024px) {
					display: none;
				}
			}

			@media screen and (max-width: 1200px) {
				margin-bottom: 0;
				padding-right: 65px;
			}

			@media screen and (max-width: 576px) {
				padding-right: 35px;

				.hotline {
					width: 165px;
				}
			}
		}

		.main-nav {
			margin-left: auto;
			height: 100%;
			display: flex;
			align-items: center;

			.nav-list {
				display: flex;
				align-items: center;
				list-style: none;
				padding-left: 0;
				width: 100%;

				.nav-item {
					position: relative;
					margin-left: auto;
					cursor: pointer;

					.nav-link {
						font-size: 14px;
						font-family: "Montserrat";
						color: rgb(51, 51, 51);
						font-weight: 600;
						text-transform: uppercase;
						display: flex;
						align-items: center;
						padding: 0;

						&.active {
							color: $main-color;
							font-weight: 700;
						}
					}

					.dropdown-menu {
						display: block;
						border: none;
						border-radius: 0;
						padding: 0;
						top: 300%;
						opacity: 0;
						visibility: hidden;
						transition: all ease-in-out .3s;

						.dropdown-item {
							background-color: #0b3155;
							padding: 15px;
							border-bottom: solid 1px #fff;
							display: flex;
							align-items: center;

							a {
								font-size: 12px;
								font-family: "Montserrat";
								color: rgb(255, 255, 255);
								font-weight: bold;
								text-transform: uppercase;
							}

							.sub-menu{
								
							}

							.lnr {
								margin-left: auto;
								color: #fff;
								font-size: 12px;
								padding-left: 20px;
							}

							&:last-child {
								border-bottom: none;
							}

							&:hover {
								background-color: #3361ae;
							}

							&.active {
								background-color: #3361ae;
							}
						}

					}

					@media screen and (min-width: 1025px) {
						&:hover {
							&::after {
								visibility: visible;
								width: 100%;
							}
						}
					}

					&:first-child {
						margin-left: 0;
					}

					&:nth-child(2) {
						&.drop-mega {
							position: static;

							&::after {
								position: absolute;
								content: '';
								bottom: -20px;
								width: 10%;
								height: 25px;
								left: 30%;
							}
						}

						.drop-mega-menu {
							position: absolute;
							width: 100%;
							top: 200%;
							left: 0;
							opacity: 0;
							visibility: hidden;
							transition: all ease-in-out .3s;
							background-color: #fff;
							z-index: 1000;

							.mega-left {
								background-color: #0b3155;
								padding: 0;
								margin-right: -30px;
								height: 100%;

								ul {
									padding-left: 0;
									list-style: none;

									li {
										display: flex;
										justify-content: space-between;
										align-items: center;
										padding: 15px 20px;
										border-bottom: solid 1px #fff;
										font-size: 12px;
										font-family: "Montserrat";
										color: rgb(255, 255, 255);
										font-weight: bold;
										text-transform: uppercase;
										text-align: left;

										.lnr {
											font-size: 12px;
											color: rgb(255, 255, 255);
											text-align: left;
										}

										&.active {
											background-color: #3361ae;
										}

										&:hover {
											background-color: #3361ae;
										}
									}
								}
							}

							.mega-right {
								padding-left: 30px;
								padding-top: 20px;
								padding-bottom: 40px;
								padding-right: 45px;
								border-top: solid 1px #333333;

								h2 {
									font-size: 16px;
									font-family: "Montserrat";
									color: rgb(51, 97, 174);
									font-weight: bold;
									text-transform: uppercase;
									margin-bottom: 10px;
								}

								ul {
									padding-left: 0;
									list-style: none;

									li {
										position: relative;
										padding-left: 20px;

										a {
											font-size: 14px;
											font-family: "Montserrat";
											color: #333333;
										}

										&:hover {
											a {
												color: #3361ae;
											}

											&::before {
												color: #3361ae;
											}
										}

										&::before {
											position: absolute;
											content: '\e876';
											top: 0;
											left: 0;
											font-family: 'Linearicons-Free';
											color: #999999;
											font-size: 14px;
										}
									}
								}

								&:last-child {
									display: none;
								}
							}
						}

						&:hover {
							.drop-mega-menu {
								display: block;
								top: 120%;
								opacity: 1;
								visibility: visible;
							}
						}
					}

					&:hover {
						.nav-link {
							color: #3361ae;
						}

						.dropdown-menu {
							opacity: 1;
							visibility: visible;
							top: 160%;
							transition: all ease-in-out .3s;
						}
					}

					&.active {
						border-bottom: solid 2px #0b3155;
					}

					&:nth-child(7) {
						.dropdown-menu {
							position: absolute;
							right: 0;
							left: unset;
						}
					}

					&::after {
						position: absolute;
						content: '';
						bottom: -20px;
						left: 0;
						width: 100%;
						height: 25px;
					}
				}
			}

			#scrolled {
				display: none;
				align-items: center;
				margin-left: auto;

				.hotline {
					width: 30px;
					height: 30px;
					background-color: $color-while;
					display: flex;
					align-items: center;
					justify-content: center;

					.material-icons {
						color: $main-color;
						font-size: 18px;
					}

					span {
						display: none;
					}

					div {
						min-width: 30px;
						line-height: 30px;
						display: flex;
						justify-content: center;
					}
				}

				#search__desktop {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: 20px;
					min-width: 30px;
					height: 30px;
					background-color: $color-while;

					.search {
						display: flex;
						align-items: center;

						.material-icons {
							color: $main-color;
							font-size: 18px;
						}
					}

					@media screen and (max-width: 1024px) {
						display: none;
					}
				}

				#language-desktop {
					margin-left: 20px;

					.language {
						button {
							border: 0;
							outline: none;
							background-color: transparent;

							&::after {
								display: none;
							}

							a {
								span {
									padding-left: 10px;
									font-size: 13px;
									color: $color-while
								}
							}
						}

						.dropdown-menu {
							right: 0 !important;
							min-width: 95px;

							.dropdown-item {
								padding: 5px 15px;

								span {
									padding-left: 10px;
								}
							}
						}
					}

					@media screen and (max-width: 1024px) {
						display: none;
					}
				}

				&.active {
					display: flex;
					padding-right: 13px;
				}
			}
		}

		@media screen and (max-width: 1200px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}


	@media screen and (max-width: 1024px) {
		padding: 12px 0;
		position: fixed;
		background-color: #fff;

		.main-menu {
			display: flex;
			flex-direction: column;

			.top {
				display: none;
			}

			.logo {
				margin-right: 15px;
				width: 100px;
				height: auto;
			}

			.main-nav {
				.nav-list {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}

	#div-mobile {
		display: none;
		margin-left: auto;

		@media screen and (max-width: 1024.98px) {
			display: flex;
			align-items: center;

			.language {
				button {
					border: 0;
					outline: none;
					background-color: transparent;

					&::after {
						display: none;
					}
				}

				.dropdown-menu {
					right: 0 !important;
					min-width: 95px;

					.dropdown-item {
						padding: 5px 15px;

						span {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		&__logo {
			margin-left: auto;
			width: 60px;
			height: 45px;
			margin-right: 0;
		}

		&__toggle-menu {
			display: block;
		}

		&__main-nav {
			position: absolute;
			top: 100%;
			right: -100%;
			width: 100%;
			padding: 0;
			background-color: $color-while;
			transition: ease-in-out all .3s;

			.nav-list {
				border-top: 1px solid $main-color;
				display: flex;
				flex-direction: column;

				.nav-item {
					margin-left: 0;
					padding: 7px 0;
				}
			}

			&.active {
				right: 0;
				transition: ease-in-out all .3s;
			}
		}
	}

	.button-hambuger {

		display: none;

		@media screen and (max-width: 1200px) {

			display: block;
			position: absolute;
			width: 40px;
			height: 30px;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			cursor: pointer;

			.burger-bt-inner {

				width: 100%;
				height: 26px;
				position: absolute;

				span {

					content: "";
					display: block;
					width: 100%;
					height: 4px;
					background-color: #3361ae;
					position: absolute;
					top: 50%;
					margin-top: -2px;
					transition: opacity .2s cubic-bezier(.165, .84, .44, 1);
					opacity: 1;
				}

				&:before,
				&:after {

					content: "";
					display: block;
					width: 100%;
					height: 4px;
					background-color: #3361ae;
					position: absolute;
					-webkit-transition: -webkit-transform .5s cubic-bezier(.165, .84, .44, 1);
					transition: -webkit-transform .5s cubic-bezier(.165, .84, .44, 1);
					transition: transform .5s cubic-bezier(.165, .84, .44, 1);
					transition: transform .5s cubic-bezier(.165, .84, .44, 1), -webkit-transform .5s cubic-bezier(.165, .84, .44, 1);
				}

				&:before {

					top: 0;
				}

				&:after {

					bottom: 0;
				}
			}

			&.close {
				opacity: 1;

				// background: #3361ae;
				.burger-bt-inner {

					&:before,
					&:after {

						background-color: #3361ae;
					}

					span {
						// background-color: #3361ae;
						opacity: 0;

					}

					&:before {

						transform: translateY(11px) rotate(45deg);
					}

					&:after {

						transform: translateY(-11px) rotate(-45deg);
					}
				}
			}
		}

		@media screen and (max-width: 576px) {
			right: -5px;
			width: 30px;
		}
	}

	.mobile-wrap {
		@media screen and (max-width: 1200px) {
			position: fixed;
			z-index: 500;
			width: 100vw;
			height: calc(100vh - 99px);
			background-image: linear-gradient(135deg, rgba(51, 97, 174, 1) 0%, rgba(51, 97, 174, 0.95) 75%);
			display: block !important;
			transform: translateX(100%);
			transition: .2s ease-in-out all;
			pointer-events: none;
			top: 99px;
			right: 0;

			.main-nav {
				.Module {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;

					.ModuleContent {
						display: flex;
						justify-content: center;
						align-items: flex-start;
						width: 100%;
						height: 100%;

						.nav-list {
							// height: 100%;
							padding: 30px;
							flex-wrap: wrap;

							li {
								width: 100%;
								position: relative !important;

								+li {
									margin-top: 5px;
								}

								&.drop-mega {

									.drop-mega-menu {
										.mega-left {
											margin-right: 0 !important;
										}

										.mega-left ul li {
											padding: 9px 10px;
										}

										.mega-right {
											overflow-y: auto;
											overflow-x: hidden;
											max-height: 60vh;
											padding-right: 5px;
											padding-left: 15px;
											padding-top: 15px;
											padding-bottom: 15px;

											&::-webkit-scrollbar {

												background: #3361ae;
												width: 5px;
											}

											&::-webkit-scrollbar-track {

												-webkit-box-shadow: inset 0 0 6px #b2b2b2;
												background-color: #b2b2b2;
											}

											&::-webkit-scrollbar-thumb {

												background-color: #3361ae;
											}

											.col-xl-3 {
												+.col-xl-3 {
													margin-top: 5px;
												}
											}
										}
									}

								}

								a {
									color: #fff;
									width: max-content;

									&:hover {
										text-decoration: underline;
										color: #fff;
									}
								}

								.submenu-toggle {
									display: block !important;
									position: absolute;
									right: 15px;
									top: 0;

									i {
										color: #fff;
										font-size: 18px;
									}
								}

								&:hover a {
									text-decoration: underline;
									color: #fff;
								}

								&:after {
									display: none;
								}

								.dropdown-menu {
									top: 120%;

									.dropdown-item {
										margin-top: 0;
										padding: 9px 10px;

										a {
											text-decoration: none;
										}

										text-decoration: none;
									}
								}
							}
						}
					}
				}
			}
		}

		&.active {
			transform: translateX(0);
			pointer-events: auto;
		}

		@media screen and (max-width: 992px) {
			height: calc(100vh - 82px);
			top: 82px;
		}
	}

	&.header-croll-down {
		padding: 10px 0;
		display: flex;
		align-items: center;
		transition: ease-in-out all .3s;
		background-color: $main-color !important;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

		.mobile-wrap {
			top: 51px;
			height: calc(100vh - 51px);
		}

		.logo-scroll {
			float: left;
			width: 90px;
			height: 31px;
			display: flex;
			align-items: center;
			margin-right: 30px;

			img {
				width: 100%;
				height: 100%;
			}

			&.active {
				display: flex;
			}
		}

		.main-menu {
			line-height: 30px;

			.top {
				display: none;
			}

			@media screen and (max-width: 1200px) {
				.top {
					display: flex;

					#search__desktop {
						border-color: #fff;
					}

					#search__desktop .search .material-icons {
						color: #fff;

					}

					#language-desktop .language button a span {
						color: #fff;
					}
				}
			}

			// @media screen and (max-width: 576px) {
			// 	.top{


			// 	}
			// }
			.nav-list {
				.nav-item {
					position: relative;
					margin-left: auto;

					.nav-link {
						font-size: 14px;
						font-family: "Montserrat";
						color: rgb(255, 255, 255);
					}

					&:hover {
						.nav-link {
							color: rgb(255, 255, 255);
						}

						.dropdown-menu {
							top: 130%;
						}
					}

					&.active {
						color: #fff;
						border-bottom: solid 2px #fff;
					}
				}

			}
		}

		.button-hambuger .burger-bt-inner {
			span {

				background-color: #fff;
			}

			&:before,
			&:after {

				background-color: #fff;
			}
		}

		@media screen and (max-width: 1024px) {
			display: none;
		}
	}

}