#block__tool {
	position: fixed;
	top: 150px;
	right: 10px;
	z-index: 99;
	opacity: 1;
	transition: ease-in-out all .3s;

	.main-tool {
		position: relative;
		padding: 0;
		list-style: none;

		&__item {
			position: relative;
			width: 60px;
			height: 60px;
			border: solid 1px $color-while;
			text-align: center;
			margin-bottom: 20px;
			line-height: 60px;
			background-color: $main-color;
			a {
				.fa,
				.ri-messenger-fill,
				.material-icons{
					color: #fff;
					font-size: 24px;
				}
			}
		}
	}

	&.active {
		opacity: 0;
		visibility: hidden;
		transition: .3s all ease-in-out;
	}
}