#block__tool {
	position: fixed;
	top: 150px;
	right: 10px;
	z-index: 99;
	opacity: 1;
	transition: ease-in-out all .3s;
	@media screen and (max-width: 576px){
		left: 0;
		bottom: 0;
		top: auto;
		right: auto;
		width: 100%;
		// padding: 0 15px;
	}	
	.main-tool {
		position: relative;
		padding: 0;
		list-style: none;
		@media screen and (max-width: 576px){
			display: flex;
			align-items: center;
			// justify-content: space-between;
		}
		&__item {
			position: relative;
			width: 60px;
			height: 60px;
			border: solid 1px $color-while;
			text-align: center;
			margin-bottom: 20px;
			line-height: 60px;
			background-color: $main-color;
			a {
				.fa,
				.ri-messenger-fill,
				.material-icons{
					color: #fff;
					font-size: 24px;
				}
			}
		}
		@media screen and (max-width: 576px){
			.main-tool__item{
				margin-bottom: 0;
				width: 33.33333%;
				display: flex;
				justify-content: center;
				align-items: center;
				a {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				+ .main-tool__item{
					margin-left: 0;
				}
			}
		}
	}

	&.active {
		opacity: 0;
		visibility: hidden;
		transition: .3s all ease-in-out;
	}
}