<?xml version="1.0" encoding="utf-8" ?>
<templates>
    <position>
        <add name="Sản phẩm section 1" value="1" resourcefile=""/>
        <add name="Sản phẩm section 5" value="2" resourcefile=""/>
    </position>
    <showoption name="New" value="1"/>
    <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm"/>
    <templatelist xsltname="ProductListHome.xslt" name="Danh sách sản phẩm Home"/>
    <templatelist xsltname="PhuTung.xslt" name="Danh sách phụ tùng"/>
    <templatedetail xsltname="PhuTungDetail.xslt" name="Chi tiết phụ tùng"/>
    <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm"/>
</templates>