.hino-about4 {
	&__item {
		&__content {
			height: 420px;
			padding: 30px;
			text-align: center;
			&__img {
				width: 76px;
				height: 76px;
				margin: 0 auto;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			&__title {
				padding: 25px 0;

				h2 {
					font-size: 20px;
					
					color: rgb(255, 255, 255);
					font-weight: 700;
				}
			}

			&__desc {
				p {
					font-size: 16px;
					
					color: rgb(255, 255, 255);
					line-height: 1.625;
					text-align: center;
					line-height: 26px;
				}
			}
		}

		&:nth-child(1) {
			.hino-about4__item__content {
				background-color: #39a1e5;
			}

		}

		&:nth-child(2) {
			.hino-about4__item__content {
				background-color: #3361ae;
			}
		}

		&:nth-child(3) {
			.hino-about4__item__content {
				background-color: #0b3155;
			}
		}
	}
}