.hino-about2 {
	&__slide {
		width: 100%;

		&__thumbs {
			overflow: hidden;
			margin-bottom: 30px;
			.swiper-slide{
				&:nth-child(1n){
					border-bottom: solid 2px #000;
				}
				&:nth-child(2n){
					border-top: solid 2px #000;
					border-bottom: none;
					margin-top: 48px;
				}
			}
		}
	}
}