.hino-about2 {
	&__slide {
		width: 100%;

		&__thumbs {
			position: relative;
			overflow: hidden;
			margin-bottom: 30px;
			padding-top: 40px;

			.swiper-slide {
				cursor: pointer;

				.dot {
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background-color: #999999;

					&.active {
						background-color: #3361ae;
					}
				}

				.box-content {
					position: relative;
					cursor: pointer;
					background-color: rgb(51, 97, 174);
					width: 100%;
					padding: 15px;

					p {
						font-size: 14px;
						font-family: "Montserrat";
						color: rgb(255, 255, 255);
						line-height: 1.429;
						text-align: center;
						&.limit-text{
							max-height: 60px;
							overflow: hidden;
						}
					}
				}

				&:nth-child(1n) {
					border-bottom: solid 2px #aaaaaa;
					padding-bottom: 30px;

					.dot {
						position: absolute;
						bottom: -10px;
						left: 50%;
						transform: translateX(-50%);

						.time {
							margin-top: 25px;
							margin-left: -10px;
						}
					}

					.box-content {
						position: relative;

						&::after {
							position: absolute;
							bottom: -19%;
							left: 50%;
							content: url('../assets/icons/gioithieu.png');
							width: 23px;
							height: 23px;
							transform: rotate(180deg) translateX(50%);
						}
					}
				}

				&:nth-child(2n) {
					border-top: solid 2px #aaaaaa;
					border-bottom: none;
					margin-top: 100px;
					padding-top: 30px;

					.dot {
						position: absolute;
						top: -10px;
						left: 50%;
						transform: translateX(-50%);

						.time {
							margin-top: -25px;
							margin-left: -10px;
						}
					}

					.box-content {
						position: relative;

						&::after {
							position: absolute;
							top: -19%;
							left: 50%;
							content: url('../assets/icons/gioithieu.png');
							width: 23px;
							height: 23px;
							transform: rotate(0deg) translateX(-50%);
						}
					}
				}
			}

			.swiper-button-prev,
			.swiper-button-next {
				position: absolute;
				top: 10px;

				&::after {
					font-size: 20px;
				}
			}

			.swiper-button-prev {
				left: 93%;
			}
		}

		&__content {
			.img {
				width: 600px;
				height: 100%;
				margin-right: -15px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.content {
				background-color: rgb(255, 255, 255);
				box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
				width: 100%;
				height: 440px;
				display: flex;
				align-items: center;

				.desc {
					width: 100%;
					padding-left: 60px;

					.title {
						background-color: rgb(51, 97, 174);
						width: 160px;
						height: 40px;
						line-height: 40px;
						margin-bottom: 40px;

						p {
							font-size: 22px;
							font-family: "Montserrat";
							color: rgb(255, 255, 255);
							text-align: center;
						}
					}

					p {
						font-size: 18px;
						font-family: "Montserrat";
						color: rgb(51, 51, 51);

						&.limit-text {
							max-height: 225px;
							overflow-y: auto;

							&::-webkit-scrollbar-track {
								box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
								background-color: rgb(29, 175, 240);
							}

							&::-webkit-scrollbar {
								width: 5px;
								height: 5px;
								background-color: rgb(29, 175, 240);
							}

							&::-webkit-scrollbar-thumb {
								border-radius: 2.5px;
								box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
								background-color: #fff;
							}
						}
					}
				}
			}
		}
	}
}