.hino-about-menu{
	width: 100%;
	background-color: #0b3155;
	.category-nav{
		display: none;
	}
	@media screen and (max-width: 576px){
		.category-nav{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 30px;
			font-size: 18px;
			font-weight: 700;
			color: #ffffff;
			text-transform: uppercase;
			border-bottom: 1px solid #ffffff;
			em {
				transition: .2s ease-in-out all;
			}
			&.active{
				em{
					transform: rotate(180deg);
				}
			}
		}
		.nav-menu-about{
			display: none;
		}
	}
	ul{
		display: flex;
		align-items: center;
		list-style: none;
		padding-left: 0;
		max-width: 840px;
		min-height: 40px;
		line-height: 40px;
		margin: 0 auto;
		li{
			margin-left: auto;
			&:first-child{
				margin-left: 0;
			}
			a{
				text-transform: uppercase;
				font-size: 14px;
				
				color: #aaaaaa;
				font-weight: bold;
			}
			&.active{
				a{
					color: #fff;
				}
			}
			@media screen and (max-width: 576px){
				padding: 0 30px;
			}
		}
	}
	&.active-menu{
		position: fixed;
		top: 57.5px;
		left: 0;
		width: 100%;
		transition: all ease-in-out .3s;
		z-index: 500;
	}
}