<!-- Sản phẩm -->
section.hinohome3.section
	.container
		.hinohome3__content
			.row
				.col-xl-6
					.block-title
						p cam kết vững chắc về
						h1 An toàn sản phẩm chất lượng dịch vụ
					.hinohome3__content__desc
						p Đối với chúng tôi dịch vụ bán hàng và sau bán hàng là ưu tiên hàng đầu trong việc xây dựng thương hiệu.với đội ngũ nhân viên đầy tâm huyết, chúng tôi tự tin sẽ cung cấp các dịch vụ bảo hành, bảo dưỡng cho quý khách hàng một cách tốt nhất.
					a.btn.btn__new(href="") xem thêm
