section.section.hinohome4
	.container
		.block-title.border__bottom
			h1 phụ tùng
		.row
			.col-xl-4.col-md-6.col-sm-6
				.hinohome4-item
					.hinohome4-item__img
						img(src="./assets/icons/construction.png", alt="")
					.hinohome4-item__content
						.hinohome4-item__content__title
							p Phụ tùng bảo dưỡng
						.hinohome4-item__content__desc
							p Thường xuyên bảo dưỡng phụ tùng đảm bảo xe của khách hàng hoạt động trong điều kiện an toàn và hiệu quả nhất
			.col-xl-4.col-md-6.col-sm-6
				.hinohome4-item
					.hinohome4-item__img
						img(src="./assets/icons/tool.png", alt="")
					.hinohome4-item__content
						.hinohome4-item__content__title
							p Phụ tùng chính hãng
						.hinohome4-item__content__desc
							p Sử dụng phụ tùng chính hãng Hino sẽ giúp khách hàng giảm chi phí vận hành xe và tiết kiệm được nhiều hơn.
			.col-xl-4.col-md-6.col-sm-6
				.hinohome4-item
					.hinohome4-item__img
						img(src="./assets/icons/tire.png", alt="")
					.hinohome4-item__content
						.hinohome4-item__content__title
							p Phụ tùng thay thế nhanh
						.hinohome4-item__content__desc
							p Tiện lợi và nhanh chóng, đảm bảo chính hãng từ thương hiệu Hino giúp khách hàng an tâm về chất lượng sản phẩm