<!-- Chọn đúc nam ninh -->
section.hinohome5.section
	.container
		.row
			.col-xl-6.d-flex.align-items-center
				.hinohome5__content
					.block-title
						p xe tải nhẹ hino
						h1 dutro series 300
					.hinohome5__content__desc
						p Do nhà máy Hino Indonesia lắp ráp chất lượng và tính năng của dòng xe nhập khẩu Hino Dutro 300 sẽ đáp ứng một cách hoàn hảo nhu cầu sử dụng của các doanh nghiệp tại Việt Nam.
					a.btn.btn__new(href="") khám phá ngay
			.col-xl-6
				.hinohome5__img
					img(src="./assets/images/home/home5-product.png", alt="")