section.section.hinohome6
	.container
		.block-title.border__bottom
			h1 video
		.hinohome6__slide
			.swiper-container.hinohome6__slide__video
				.swiper-wrapper
					-for(i=1; i<4; i++)
						.swiper-slide
							.hinohome6__slide__video__img
								img(src="./assets/images/home/video-"+i+".png", alt="")
								.icon-control
									a(href="https://www.youtube.com/watch?v=09iHunBivys" data-fancybox)
										img(src="./assets/icons/play-button.png", alt="")
							.hinohome6__slide__video__name
								a(href="") Hino XZU 300 Thùng kín 1,5 tấn
			.swiper-button-prev
			.swiper-button-next