<!-- Tin Tức -->
section.hinohome7.section
	.container
		.block-title.border__bottom
			h1 Tin tức
		.hinohome7__slide.relative
			.swiper-container.hinohome7__slide__news
				.swiper-wrapper
					.swiper-slide
						.row
							.col-xl-6.col-md-12.hinohome7__slide__news__left
								.hinohome7__slide__news__left__img
									img(src="./assets/images/home/news-1.png", alt="")
								.hinohome7__slide__news__left__content
									.item__date
										span.lnr.lnr-calendar-full
										.date 01.04.2020
									.hinohome7__slide__news__left__content__title.lcl.lcl-1
										a(href="") NHỮNG DÒNG XE TẢI HINO ĐẠI PHÁT TÍN BÁN CHẠY NHẤT 2019
									.hinohome7__slide__news__left__content__desc
										p Thị trường xe tải hiện nay đang có rất nhiều biến động và cạnh tranh cao, bởi việc vận chuyển hàng hóa nặng ngày càng tăng nên nhu cầu về xe tải cũng tăng theo
							.col-xl-6.col-md-12.hinohome7__slide__news__right
								.row
									.col-xl-6.col-md-6
										.hinohome7__slide__news__right__item
											.hinohome7__slide__news__right__item__img
												img(src="./assets/images/home/news-2.png", alt="")
											.hinohome7__slide__news__right__item__content
												.item__date
													span.lnr.lnr-calendar-full
													.date 01.04.2020
												.hinohome7__slide__news__right__item__content__title
													a(href="") “LÃO TƯỚNG” HINO - 20 NĂM CHUYÊN TRỊ ĐƯỜNG DÀI TRÊN XA LỘ
									.col-xl-6.col-md-6
										.hinohome7__slide__news__right__item
											.hinohome7__slide__news__right__item__img
												img(src="./assets/images/home/news-3.png", alt="")
											.hinohome7__slide__news__right__item__content
												.item__date
													span.lnr.lnr-calendar-full
													.date 01.04.2020
												.hinohome7__slide__news__right__item__content__title
													a(href="") XE TẢI THÙNG KÍN 500 SERIES NGƯỜI BẠN ĐƯỜNG ĐÁNG TIN CẬY!
									.col-xl-6.col-md-6
										.hinohome7__right__item
											.hinohome7__slide__news__right__item__img
												img(src="./assets/images/home/news-4.png", alt="")
											.hinohome7__slide__news__right__item__content
												.item__date
													span.lnr.lnr-calendar-full
													.date 01.04.2020
												.hinohome7__slide__news__right__item__content__title
													a(href="") NHỮNG TÂM SỰ VUI, BUỒN CỦA NGHỀ TÀI XẾ
									.col-xl-6.col-md-6
										.hinohome7__right__item
											.hinohome7__slide__news__right__item__img
												img(src="./assets/images/home/news-5.png", alt="")
											.hinohome7__slide__news__right__item__content
												.item__date
													span.lnr.lnr-calendar-full
													.date 01.04.2020
												.hinohome7__slide__news__right__item__content__title
													a(href="") KINH NGHIỆM BẢO QUẢN XE TẢI VÀO MÙA MƯA
			.swiper-button-prev
			.swiper-button-next
